[2015-09-28 21:07] OlegHahm opened #4 "Release 2015.09 - RC1"
This issue lists the status of all tests for the Release Candidate 1 of the 2015.09 release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/01-ci.md)
- [ ] [02-Tests](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/02-tests.md)
- [x] [03-Single Hop IPv6 ICMP](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/ 03-s

[2015-09-28 21:28] emmanuelsearch commented on #4
shall we distinguish (multi hop) static and (multi-hop) RPL ?

[2015-09-28 21:30] OlegHahm commented on #4
I think it is already distinguished in https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/07-multi-hop.md. But feel free to update/improve. (And yes, I should have linked the specs. ;-))

[2015-09-29 06:28] authmillenon commented on #4
Is there a machine to test task 01 and 02? My poor old machines are a little overwhelmed by the job.

[2015-09-30 12:59] kaspar030 commented on #4
Could we specify on which board the tests were done?

[2015-09-30 12:59] authmillenon commented on #4
@kaspar030 its specified in the release specifications ;-)

[2015-09-30 12:59] OlegHahm commented on #4
This should be specified in the specs.

[2015-09-30 13:00] authmillenon commented on #4
On 05.02: For me it worked in the testbed. So do I just re-edit the description above?

[2015-09-30 13:01] OlegHahm commented on #4
@authmillenon, how does the routers get the corresponding NCEs?

[2015-09-30 13:03] authmillenon commented on #4
They don't need to. This is how I configured the nodes

[code]

With this the nodes just get the EUI-64 from the link-layer address. Is this wrong?

[2015-09-30 13:05] OlegHahm commented on #4
Hm, true, don't know what went wrong for me then. (Btw. the spec says "default route", so it should be `fibroute add :: ...` instead.)

[2015-09-30 13:07] authmillenon commented on #4
Should yield the same results, but will fix to be sure.

[2015-09-30 13:11] authmillenon commented on #4
Done and worked.

[2015-09-30 14:52] authmillenon commented on #4
The UDP send command isn't able to send the [specified 1kB](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/06-single-hop-udp.md#task-01). How should we proceed.

[2015-09-30 15:00] cgundogan commented on #4
I just checked multi hop pinging with static routes: `m3-1 <-> m3-9 <-> m3-15 <-> m3-23`. works.

[2015-09-30 15:09] OlegHahm commented on #4
You're aware that we need to run these tests on RC2 again anyway, right? (Just checking.)

[2015-10-01 13:53] OlegHahm opened #5 "Release 2015.09 - RC2"
This issue lists the status of all tests for the Release Candidate 2 of the 2015.09 release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/01-ci.md)
- [ ] [02-Tests](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/02-tests.md)
- [x] [03-Single Hop IPv6 ICMP](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/03-si

[2015-10-01 13:53] #4 closed

[2015-10-01 13:54] OlegHahm commented on #4
superseded by #5

[2015-10-01 14:35] authmillenon commented on #5
Can you offer a how-to for that?

[2015-10-01 14:38] OlegHahm commented on #5
see http://www.spinics.net/lists/linux-wpan/msg03147.html

[2015-10-01 14:40] authmillenon commented on #5
Thanks.

[2015-10-01 15:10] authmillenon commented on #5
Packet buffer for task 3.1 is not empty and contains very short snips:

First runthrough:
[code]
Second runthrough:
[code]
Third runthrough:
[code]

Though the make-up seems to be quite random, the data in them seems to have some system to them. (0x08000000 appears quite often as well as 0x3263eb52 (which is part of the of the nodes MAC address `86:a4:3c:63:eb:52` or link-local IPv6 address `fe80:

[2015-10-01 16:08] OlegHahm commented on #5
01-CI fails because gcc is complaining for the ARM7 platforms:
[code]

I don't really understand why this only happens for these platforms, but I guess we should "fix" this nevertheless.

[2015-10-01 21:37] authmillenon commented on #5
The leaks in https://github.com/RIOT-OS/Release-Specs/issues/5#issuecomment-144756409 are very race conditiony... And after 4h of debuging I still don't have any clue how this comes into being. Do we just want to mark this as a known issue, since that test case is somewhat fringy (at least in my opinion)?

[2015-10-01 21:38] authmillenon commented on #5
(you don't usually ping all-nodes in a system that is just running, is what I wanted to say with "fringy")

[2015-10-01 21:45] authmillenon commented on #5
It's leaking in 04 too btw if you use 3 nodes.

[2015-10-01 22:01] OlegHahm commented on #5
That's bad. I couldn't find a leak even with 5 nodes in 04. How did you test?

[2015-10-02 08:50] OlegHahm commented on #5
Pinged in the IoT-LAB with 5 nodes from one node to `ff02::1` (1000 times, no delay, no payload) and all packet buffers stayed empty.

[2015-10-02 08:53] OlegHahm opened #6 "Release 2015.09 - RC3"
This issue lists the status of all tests for the Release Candidate 3 of the 2015.09 release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/01-ci.md)
- [ ] [02-Tests](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/02-tests.md)
- [ ] [03-Single Hop IPv6 ICMP](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/03-si

[2015-10-02 08:53] OlegHahm commented on #5
Superseded by #6.

[2015-10-02 08:53] #5 closed

[2015-10-02 09:12] OlegHahm commented on #5
Hm, okay, with a payload of 100 bytes, I can see some fragments. :-(

[2015-10-02 09:23] OlegHahm commented on #5
Damn, I can create memory leaks even with just two nodes and unicast pings.

[2015-10-02 09:25] cgundogan commented on #5
shouldn't your comments go to #6 ? Or are you testing with RC2 right now?

[2015-10-02 09:37] cgundogan commented on #6
https://github.com/RIOT-OS/Release-Specs/issues/5#issuecomment-144971559

Can you briefly explain how you can enforce memory leaks? Does it only occure on the iotlab?
I was just pinging and dumping the pktbuf on native and the pktbuf is empty as desired

[2015-10-02 09:43] cgundogan commented on #6
Now I tried (unicast, single-hop) pinging on the iotlab testbed. pktbuffer still behaves as expected

[2015-10-02 09:47] OlegHahm commented on #6
Start an experiment with 5 nodes, ping from node to another like this:
`ping6 1000 fe80::<EUI64> 1024 0`

[2015-10-02 09:48] OlegHahm commented on #5
RC3 doesn't really change anything on this matter.

[2015-10-02 09:52] cgundogan commented on #6
I used my running experiment (2 nodes and `gnrc_networking` example).

[code]

[2015-10-02 09:55] OlegHahm commented on #6
Maybe it's not happening always.

[2015-10-02 09:55] OlegHahm commented on #6
Have you tried with multicast pinging, too?

[2015-10-02 10:26] cgundogan commented on #6
multicast ping leaks memory and after several attempts I get the "pktbuffer full" error on the pinging side

[2015-10-02 10:40] OlegHahm commented on #5
The 0x0008 seems to be the IPv6 length field.

[2015-10-02 11:43] authmillenon commented on #6
From https://github.com/RIOT-OS/Release-Specs/issues/5#issuecomment-144862075

I patched the `gnrc_networking` example to have easy acces to the `gnrc_pktbuf_stats()` function:

[code]

And started an experiment with three nodes in the testbed.

[code]

Then I started the experiment as usual

[code]

After that I have leaks in the packet buffer (e.g. on current release branch)

[code]

(oh and tha

[2015-10-02 11:55] authmillenon commented on #6
From https://github.com/RIOT-OS/Release-Specs/issues/5#issuecomment-144987747

Could be, could also be `0x00000008` and the size field of a packet snip pointing to the ICMPv6 header.

[2015-10-02 12:14] OlegHahm commented on #6
Since when do you have this problem?

[2015-10-02 12:22] authmillenon commented on #6
I realized this only yesterday. But it's also effecting `ifconfig`'s output:

[code]

[2015-10-02 12:23] cgundogan commented on #6
and rpl's output for the trickle timer values

[2015-10-02 12:23] cgundogan commented on #6
I realized it 1-2 weeks ago, but I forget about it and thought it was merely a problem with my compiler

[2015-10-02 12:55] OlegHahm commented on #6
I have this for the rpl output, but not for od or ifconfig.

[2015-10-02 12:57] OlegHahm commented on #6
And I think for RPL it is related to https://github.com/RIOT-OS/RIOT/issues/1891

[2015-10-02 12:58] authmillenon commented on #6
I think for od and ifconfig this is toolchain and nano.specs related.

[2015-10-03 00:06] OlegHahm opened #7 "Release 2015.09 - RC4"
This issue lists the status of all tests for the Release Candidate 4 of the 2015.09 release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/01-ci.md)
- [ ] [02-Tests](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/02-tests.md)
 - Task 01:
   - tests/cpp11_* are failing on native, but work on iotlab-m3
    - Results of tests/mallo

[2015-10-03 00:06] OlegHahm commented on #6
Superseded by #7

[2015-10-03 00:08] #6 closed

[2015-10-03 01:21] authmillenon commented on #7
There seems to be a library on your host system needed for that (for Ubuntu and gcc 4.8 it is `libstdc++-4.8-dev:i386`), but I still got a linker issue.

[2015-10-03 01:42] authmillenon commented on #7
Task 06.01 is little bit tricky to do with the given applications: it can't send packets of size 1kB and it does not count the received packets (nor checks if they are duplicates of some sort).

[2015-10-03 01:43] authmillenon commented on #7
Should we write a test application for that?

[2015-10-03 01:49] OlegHahm commented on #7
I know, but I guess copying the application and modifying it to fit the needs is not too complicated.

[2015-10-03 02:05] OlegHahm commented on #7
Probably wouldn't hurt.

[2015-10-03 02:31] authmillenon commented on #7
I just patched `gnrc_networking`

[code]

[2015-10-03 03:03] authmillenon commented on #7
Note, that since `gnrc_pktdump` was removed you need to add `od` if you want to use the patched-in `pktbuf` command.

[2015-10-03 21:35] authmillenon commented on #7
See https://github.com/RIOT-OS/RIOT/pull/4038 and https://github.com/RIOT-OS/RIOT/pull/4039 respectively about the C++ issue.

[2015-10-04 21:11] OlegHahm opened #8 "Release 2015.09 - RC5"
This issue lists the status of all tests for the Release Candidate 5 of the 2015.09 release. Only native related specs and those which were not tested in #7 are required here.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/01-ci.md)
- [x] [02-Tests](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-09/02-tests.md)
- [x] [03-Single Hop

[2015-10-04 21:33] authmillenon commented on #8
Is that really Task 02? Looks more like Task 01 one to me.

[2015-10-04 21:40] OlegHahm commented on #8
Apart from the fact that I ran this with RC4, this was indeed done for task 02.

[2015-10-04 22:28] authmillenon commented on #8
Well, but non-native implementations did not change since RC4, right?

[2015-10-04 22:36] OlegHahm commented on #8
Yes. Only native related tests are necessary.

[2015-10-04 22:47] authmillenon commented on #8
Then why are you removing my edits ;-)

[2015-10-04 22:49] OlegHahm commented on #8
Which ones?

[2015-10-04 22:50] authmillenon commented on #8
For 3.1 and 3.2...

[2015-10-04 22:51] OlegHahm commented on #8
Must have been accidentally by reloading the page.

[2015-10-04 23:40] authmillenon commented on #8
Only the border router tests remain. I don't have the hardware for that at hand right now and I want to go to bet, so it has to wait until tomorrow :-)

[2015-10-04 23:46] OlegHahm commented on #8
It's running.

[2015-10-05 02:20] OlegHahm commented on #8
Success! :dancers:

[2015-10-05 07:02] authmillenon commented on #8
Task 8.5 is still missing, right?

[2015-10-05 07:05] OlegHahm commented on #8
Ah, overlooked this one. Actually performed Task 05 instead of 04.

[2015-10-05 07:07] authmillenon commented on #8
Good morning :D

[2015-10-05 09:13] authmillenon commented on #8
Are you still testing 04?

[2015-10-05 09:15] OlegHahm commented on #8
I am.

[2015-10-05 09:15] OlegHahm commented on #8
Well, actually, the test has just finished.

[2015-10-05 09:17] #8 closed

[2015-12-18 19:30] authmillenon commented on #7
We forgot to close this ;-)

[2015-12-18 19:30] #7 closed

[2015-12-18 19:32] authmillenon opened #9 "Release 2015.12 - pre-RC1"
This issue lists the status of all tests before the Release Candidate 1 of the 2015.12 release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md)
 - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md#task-01)
 - [x] [Task 02](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md#tas

[2015-12-18 19:39] authmillenon commented on #9
I'm currently running 01 Task 1.

[2015-12-18 21:04] A-Paul commented on #9
Hi, I try to help a little bit. The best I could do, is going through 02 Task 1 alphabetically.

[2015-12-18 21:07] authmillenon commented on #9
:+1:

[2015-12-18 21:23] authmillenon commented on #9
I'll focus on 03 for now.

[2015-12-19 13:11] authmillenon opened #10 "Release 2015.12 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2015.12](https://github.com/RIOT-OS/RIOT/commit/8ec1fd4f38da8e789bcfde9bbb5a48d0408a5565) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md)
 - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md#task-01)
 - [x] [Task 02]

[2015-12-19 13:12] authmillenon commented on #9
RC1 is open, so let's go to the [next issue](https://github.com/RIOT-OS/Release-Specs/issues/10)

[2015-12-19 13:12] #9 closed

[2015-12-19 13:13] authmillenon commented on #10
For all testers: this issue refers to commit https://github.com/RIOT-OS/RIOT/commit/8ec1fd4f38da8e789bcfde9bbb5a48d0408a5565.

[2015-12-19 13:16] authmillenon commented on #10
I'm testing 01-CI right now.

[2015-12-19 13:34] authmillenon commented on #10
And 03.

[2015-12-19 13:39] authmillenon commented on #10
While 03.03 is running (takes 1h) I'm taking doing 04.

[2015-12-19 14:13] authmillenon commented on #10
I use the following patch to test 06:

[code]

[2015-12-19 19:42] A-Paul commented on #10
Some words to *01-Tests Task 1*
For every directory wih a `main.c` that is `@ingoup tests` I compiled and ran `make term`.
For a bunch of tests I hope they succeeded, but there were no information how to distinguish the output.

[2015-12-19 19:44] authmillenon commented on #10
For many there are `pexpect` scripts in a subdirectory (typically `tests`). They describe, what the test expects.

[2015-12-19 19:58] authmillenon commented on #10
And you mean 02 instead of 01, right?

[2015-12-19 20:19] authmillenon commented on #10
And thanks for testing :-)

[2015-12-19 20:49] A-Paul commented on #10
Yes! Corrected.

[2015-12-19 21:13] A-Paul commented on #10
Well, at least a handfull. ;-)

But those were already fairly obvious. All succeeded btw.

[2015-12-19 21:15] authmillenon commented on #10
Well then there is something we have as a target for next release: improve test automation :-D

[2015-12-23 22:04] authmillenon opened #11 "Release 2015.12 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2015.12](https://github.com/RIOT-OS/RIOT/commit/8ec1fd4f38da8e789bcfde9bbb5a48d0408a5565) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md)
 - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/specs/2015-12/01-ci.md#task-01)
 - [ ] [Task 02]

[2015-12-23 22:04] authmillenon commented on #10
Closed in favor of https://github.com/RIOT-OS/Release-Specs/issues/11

[2015-12-23 22:05] #10 closed

[2015-12-23 22:05] authmillenon commented on #11
RC2 is https://github.com/RIOT-OS/RIOT/commit/f7859322123fd73cfeb8de8e667eab15d1b31449

[2015-12-23 22:08] authmillenon commented on #11
For all those who have time during the holidays :-)

[2016-01-05 21:03] cgundogan opened #12 "Release 2015.12 - RC3"
Status of all tests for the [Release Candidate 3](https://github.com/RIOT-OS/RIOT/tree/2015.12-RC3) of the 2015.12 release.

Please check off all tests that performed successfully. Inline any errors/warnings you encounter in this list.
The names I assigned are tentative. Feel free to re-assign or execute tests that are not marked with your name.

- [ ] [01-CI](https://github.com/RIOT-OS/Release-Sp

[2016-01-05 21:07] cgundogan commented on #11
closed in favor of #12

[2016-01-05 21:07] #11 closed

[2016-01-05 23:11] authmillenon commented on #12
@cgundogan was asking me to run `make -C tests/unittests tests-fib test` to verify his findings that `fib_tests.test_fib_01_fill_unique_entries` is failing. This is the case. A quick bisect revealed that 42d387a42 so there seems to be a timing related issue in the fib (see also https://github.com/RIOT-OS/RIOT/issues/4513)

[2016-01-06 09:20] cgundogan commented on #12
Thanks for the hint @authmillenon. I digged deeper into this issue and encountered a possible bug in xtimer ( @kaspar030 ). After several micro seconds (~200-600) `xtimer_now64` starts to overflow. Due to this overflow the fib purges all routes, because it assumes that the lifetime timed out. We need to address this issue within the fib (preferably not within the current release), because it effec

[2016-01-06 09:26] cgundogan commented on #12
To reproduce: run `make tests-fib test`. The first test will fail because of the above issue. At a certain point, all routes will be purged because of the mentioned overflow and the rest of the routes will be inserted at the beginning of the table => the amount of routes within the table does not equal the expected amount, hence the test fails

[2016-01-06 09:34] BytesGalore commented on #12
@cgundogan regarding `fib_tests.test_fib_01_fill_unique_entries`: as you said the wrong value returned by `xtimer_now64() here [1]`:
[code]
This results in auto-invalidate the entry.
I guess its the same problem with https://github.com/RIOT-OS/RIOT/issues/4513.

[1] https://github.com/RIOT-OS/RIOT/blob/master/sys/net/network_layer/fib/fib.c#L83

[2016-01-06 09:48] BytesGalore commented on #12
Not really a test [1], but it produces the `xtimer` hickup on native.

[1] https://github.com/BytesGalore/RIOT/tree/test_xtimer_native

[2016-01-06 10:52] kaspar030 commented on #12
@cgundogan @BytesGalore This is on native, right? Somehow, xtimer_now() starts very close to 2^32, so it overflows early. Still, xtimer_now() should be growing. Are the lifetimes initialized relative to xtimer_now()?

[2016-01-06 11:00] kaspar030 commented on #12
Ok, I see the bug. Will open an issue.

[2016-01-06 11:01] BytesGalore commented on #12
yes, e.g. `table->data.entries[3].lifetime: 10000095` stems from 10s + `xtimer_now()`

[2016-01-06 11:04] BytesGalore commented on #12
and yes its on native

[2016-01-06 11:07] kaspar030 opened #13 "cpu: native: unexpected xtimer overflow"
Somehow ~600ms after boot, xtimer overflows the first time. Somehow, that causes trouble.

See https://github.com/RIOT-OS/Release-Specs/issues/12.

[2016-01-06 11:33] kaspar030 commented on #13
Wrong project. ;)

[2016-01-06 11:33] #13 closed

[2016-01-06 13:06] kaspar030 commented on #12
@BytesGalore @cgundogan Could you check out https://github.com/RIOT-OS/RIOT/pull/4585?

[2016-01-06 13:30] BytesGalore commented on #12
@kaspar030 I just let https://github.com/RIOT-OS/RIOT/pull/4585 run with my "test" [1] and the overflow seems not to occur anymore :D

[1] https://github.com/BytesGalore/RIOT/tree/test_xtimer_native

[2016-01-06 13:59] BytesGalore opened #14 "02-tests Release 2015.12 - RC3"
Let's collect the test results for **02-tests** here, task by task.

[2016-01-06 14:10] BytesGalore commented on #14
### Task 01 - Execute all tests on `native` and check their output.

Feel free to edit this list.

* [x] bitarithm_timings
* [x] bloom_bytes
* [x] coap
* [ ] **conn_ip (<- just built and looked into the shell)**
* [x] cpp11_condition_variable
* [x] cpp11_mutex
* [x] cpp11_thread

**Skipped all driver_***
* [x] fault_handler
* [x] **float (<- don't understand if only `-` printed is correct)**
* [x]

[2016-01-06 14:20] BytesGalore commented on #14
### Task 02 - Perform a subset of tests on `iotlab-m3` node.

Feel free to edit this (currently empty) list.

[2016-01-06 23:43] A-Paul commented on #12
Output for **tests/libfixmath** (haven't tested in RC1 because *main.c* in not `@ingroup tests`)

Calculation: abs result != exp result, abs error > limit
Unary.
exp(8.5000): 4914.7688 != 4914.7354, 0.0334 > 0.011
exp(8.7500): 6310.6881 != 6310.7139, 0.0258 > 0.011
exp(9.5000): 13359.7268 != 13359.7076, 0.0192 > 0.011
exp(9.7500): 17154.2288 != 17154.1737, 0.0551 > 0.011
tan(-1.5708): 272241.8084

[2016-01-07 00:08] authmillenon commented on #12
Best thing you can probably do is look-up who the author was, and ask them what the expected output should be.

[2016-01-07 00:11] authmillenon commented on #12
There is a test script in there btw (written by @Kijewski) but it does not seem to work.

[2016-01-07 00:30] A-Paul commented on #12
@authmillenon, look at the command line of my output. Took mw 1/2 hour to figure that shit out.

Happy new year btw. :D

[2016-01-07 08:21] gebart commented on #14
pkg_cmsis-dsp should only be buildable for Cortex platforms. CMSIS-DSP is supplied by ARM for use with Cortex-M0,3,4,7 only and contains quite a lot of inline (Thumb2) assembly.

[2016-01-07 11:06] BytesGalore commented on #14
@gebart thx for clarification

[2016-01-08 02:14] authmillenon opened #16 "Release 2015.12 - RC4"
Status of all tests for the [Release Candidate 4](https://github.com/RIOT-OS/RIOT/tree/2015.12-RC4) of the 2015.12 release.

Please check off all tests that performed successfully. Inline any errors/warnings you encounter in this list.
The names I assigned are tentative. Feel free to re-assign or execute tests that are not marked with your name.

- [x] [01-CI](https://github.com/RIOT-OS/Release-Sp

[2016-01-08 02:16] authmillenon commented on #12
Superseded by #16 (and happy new year to you too @A-Paul)

[2016-01-08 02:16] #12 closed

[2016-01-08 02:17] authmillenon opened #17 "02-tests Release 2015.12 - RC4"

[2016-01-08 02:17] authmillenon commented on #14
Superseded by #17

[2016-01-08 02:17] #14 closed

[2016-01-08 03:12] authmillenon commented on #16
I'm testing 06 with the following patch:

[code]

[2016-01-08 03:30] authmillenon commented on #16
Unittests tested on Ubuntu Trusty.

[2016-01-08 07:56] cgundogan commented on #16
FYI: there is a PR (#15) from @haukepetersen that tests 06. (The 07 in the PR is meant to be 06)

[2016-01-08 12:44] OlegHahm commented on #16
If no-one knows how to setup a Contiki test, I declare Interop tests hereby as successful.

[2016-01-08 13:13] A-Paul commented on #16
I will start going through *02-Tests Task 1* now.

[2016-01-08 14:14] authmillenon commented on #16
@A-Paul https://github.com/RIOT-OS/RIOT/pull/4623 might be of interest for you, regarding `conn_ip` ;-).

[2016-01-08 15:17] cgundogan commented on #16
@A-Paul did you encounter any new errors/warnings so far?

[2016-01-08 15:44] A-Paul commented on #17
### Task 01 - Execute all tests on `native` and check their output.

Feel free to edit this list.

* [ ] bitarithm_timings
* [ ] bloom_bytes
* [ ] coap
* [ ] **conn_ip (NN)**
* [ ] cpp11_condition_variable
* [ ] cpp11_mutex
* [ ] cpp11_thread

**Skipped all driver_***
* [ ] fault_handler
* [ ] float
* [ ] fmt_print
* [ ] irq
* [ ] **libfixmath (slight errors, details in https://github.com/RIOT-OS/

[2016-01-08 15:52] A-Paul commented on #16
@cgundogan sorry for letency. :-) I was concentrated going through all tests with a script and making notes for later.

For now:
+ fault_handler (memory error)
+ msg_send_recieve ("Test failed.")

[2016-01-08 16:16] cgundogan commented on #16
@A-Paul the `msg_send_receive` issue should be fixed with RIOT-OS/RIOT#4620 (:

[2016-01-08 16:56] A-Paul commented on #17
Maybe someone who has *cmake* installed can run and (hopefully) check *unittests* ?

[2016-01-08 17:43] A-Paul commented on #16
Confirmed.

[2016-01-08 19:58] A-Paul commented on #16
So far most is fine. *conn_ip, unittests and zep* are stil TODO.

[2016-01-10 15:49] cgundogan commented on #17
closing, because the 2015.12 version of RIOT was released.

[2016-01-10 15:49] #17 closed

[2016-01-10 15:49] cgundogan commented on #16
closing, because the 2015.12 version of RIOT was released.

[2016-01-10 15:49] #16 closed

[2016-04-13 14:02] haukepetersen opened #18 "Release 2016.04 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2016.04](https://github.com/RIOT-OS/RIOT/commit/52690178a07153b17f1ac802ee23df78506336f5) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
 - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
 - [ ] [Task 02](https://github.

[2016-04-18 06:38] cgundogan commented on #18
@RIOT-OS/maintainers I marked all tests that I ran during the weekend. Let's join forces and complete these tests as soon as possible.

[2016-04-19 10:51] A-Paul commented on #18
I start 02-Tests:Task 01 now.

[2016-04-19 11:01] authmillenon commented on #18
I provided a modified gnrc_networking in my [application repository](https://github.com/authmillenon/RIOT_playground/tree/master/udp_test) for testing 06.

[2016-04-19 11:12] authmillenon commented on #18
Updated task list according to new interop tests.

[2016-04-21 09:06] haukepetersen opened #19 "Release 2016.04 - RC2"
Release 2016.04 - RC2This issue lists the status of all tests for the [Release Candidate 2 of the 2016.04](https://github.com/RIOT-OS/RIOT/commit/ef0b95e03451700efa18a09dfdcca3fd1fe845d7) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md) done and all o.k.
 - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#ta

[2016-04-21 09:23] authmillenon commented on #18
Superceeded by #19.

[2016-04-21 09:23] #18 closed

[2016-04-21 09:34] authmillenon commented on #19
I'm going to test 03 and 04 now.

[2016-04-21 09:57] authmillenon commented on #19
Does anybody else observe weird behavior in task 04.01 (long delay between pings, though short was given, timeouts longer than usual, etc.)

[2016-04-21 10:27] authmillenon commented on #19
Timers on iotlab-m3 nodes behave weirdly for me (@haukepetersen could not reproduce). So I'm skipping tests involving this board.

[2016-04-21 10:42] haukepetersen commented on #19
I am on 01 and 02 right now.

[2016-04-21 10:57] A-Paul commented on #19
@haukepetersen are you talking about *01-CI* and *02-Tests*? If yes we should somehow synchronize in *02-Tests*.

[2016-04-21 11:18] authmillenon commented on #19
Tested all networking tests, I could test right now. The rest I will do tomorrow when I have access to my Laptop again ;-)

[2016-04-21 11:35] haukepetersen commented on #19
that will be too late, we should go through all of them today! But I hope we will manage...

@A-Paul no worries, let's both do the tests, the chance we test exactly the same set is not very high, and also we are using probably different toolchains etc, so doing this test twice does not hurt at all, in the contrary...

[2016-04-21 11:55] cgundogan commented on #19
I am tackling with the multi-hop tests now

[2016-04-21 12:43] A-Paul commented on #19
@haukepetersen I've put other activities aside to help out with some really necessary tasks. If there are enough resources to do work uncoordinated twice I gladly do other important things.

[2016-04-21 13:16] haukepetersen commented on #19
Yes, of course you are right, now that I looked into the 02-Tests a little closer! So how about this for distributing the task: you do task#1, `tests/aodv` to `tests-float`, and do task#2, while I take task#1, `tests/fmt_print` to tests/zep` and task#3. How does this sound?

[2016-04-21 13:23] cgundogan commented on #19
udp traffic with static routes breaks. The recipient asserts at `gnrc_ipv6_demux`. ping works fine, though.

[2016-04-21 14:32] authmillenon commented on #19
As already stated in Skype: I think https://github.com/RIOT-OS/RIOT/pull/5281 is the right fix for that as it fixes this assert issue for NHC (including for future IPv6-extension-header support for NHC).

[2016-04-21 16:49] haukepetersen opened #20 "Release 2016.04 - RC3"
This issue lists the status of all tests for the [Release Candidate 3 of the 2016.04](https://github.com/RIOT-OS/RIOT/commit/1c96496e3689fbcc1ae107fb698bc232ee828337) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md) done and all o.k.
 - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
 - [x] [Task 0

[2016-04-21 16:50] haukepetersen commented on #19
NHC was reverted and a new RC created: #20

Please use the RC3 for all tests now and redo all network related test cases.

[2016-04-21 16:55] haukepetersen commented on #19
@A-Paul havn't heard back from you, so I completed the tests for `02-Tests` by now. Please let me know if there is anything that did not work as expected on your end!

[2016-04-21 17:15] haukepetersen commented on #20
doing `03-Single Hop IPv6 ICMP` now

[2016-04-21 17:15] cgundogan commented on #20
working on 05-single-hop now

[2016-04-21 17:19] kYc0o commented on #20
working on 8 and 1 :)

[2016-04-21 17:27] cgundogan commented on #20
doing 4 now

[2016-04-21 18:14] #19 closed

[2016-04-21 18:14] kaspar030 commented on #19
(misclick)

[2016-04-21 19:36] cgundogan commented on #20
running `06-single-hop-udp` now

[2016-04-22 01:09] kYc0o commented on #20
tests for `emb6` fail because of this:
[code]

[2016-04-22 08:22] authmillenon commented on #20
@kYc0o seems to be Mac OSX related. @emmanuelsearch had the same error when testing my PR for this.

[2016-04-22 08:23] authmillenon commented on #20
(would be great if you could find out why, but we should backport that post release then)

[2016-04-22 08:58] kYc0o commented on #20
I was trying to find out but I did not succeed... let's test that on Linux then.

[2016-04-22 09:10] kYc0o commented on #20
Actually is happening on linux too... Can you try only to compile `tests/emb6` ?

[2016-04-22 09:47] authmillenon commented on #20
Runs through on Ubuntu 14.04 (git-1.9.1, arm-none-eabi-gcc-4.9.3) and Arch (git-2.8.0, arm-none-eabi-gcc-5.3.0).

[2016-04-22 09:48] authmillenon commented on #20
actually, can you check what your git versions are on both Mac and Linux?

[2016-04-22 09:52] kYc0o commented on #20
OK I'll check them. Thanks!

[2016-04-22 09:53] authmillenon commented on #20
Oh, and maybe try it with this patch?

[code]

[2016-04-22 09:55] kYc0o commented on #20
Did you applied that patch? From where it comes?

[2016-04-22 09:55] authmillenon commented on #20
I made it. That's just a hunch of mine, that the `-C` parameter of `git` does not work for certain versions.

[2016-04-22 09:56] kYc0o commented on #20
Ohhh yeah it's maybe only related to the relative path... uhmmm will test ASAP

[2016-04-22 10:02] authmillenon commented on #20
(`-C` was only [introduced in `1.8.3`](http://stackoverflow.com/a/20115678))

[2016-04-22 11:25] authmillenon commented on #20
Now that I have access to my laptop again I will test the remaining interop-tests (except the rasppi one, since I don't have one set-up atm)

[2016-04-22 11:39] authmillenon commented on #20
GNRC to emb6 works, but the otherway around (since I can't deactivate NHC in emb6 and have to compile it in in GNRC because of that) I hit the known assertion with NHC. Since this is a known issue, I would count that as success for now. Do you agree?

[2016-04-22 12:03] kYc0o commented on #20
sorry I was editing at the same time as @haukepetersen can you re-edit? sorry :(

[2016-04-22 12:06] kYc0o commented on #20
Actually task 2 is working (at least pinging) without disabling nhc on the Pi

[2016-04-22 12:07] authmillenon commented on #20
Oh yeah I forgot ^^ ICMPv6 isn't using NHC :D

[2016-04-22 12:09] authmillenon commented on #20
As a surrogate for 08-08 I tested GNRC<->lwip communication over Ethernet and it is working.

[2016-07-26 16:03] kYc0o commented on #20
I suppose I need to close this issue and open a new one for the new release specs?

[2016-07-26 16:18] kYc0o opened #21 "Release 2016.07 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2016.07](https://github.com/RIOT-OS/RIOT/commit/b5cb68bd6673abe02166f8af7782aa2745ca08cd) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
 - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) [SUCCESS]
 - [x] [Task 02](https

[2016-07-26 16:24] miri64 commented on #20
Yupp

[2016-07-26 16:24] #20 closed

[2016-07-26 17:00] BytesGalore commented on #21
Currently performing
- [ ] [02-Tests](https://github.com/RIOT-OS/Release-Specs/blob/master/02-tests/02-tests.md)
 - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/02-tests)

Observations:
- `driver_dht` compiles without warning runs and obviously fails
- `driver_pir` compiles without warning runs and obviously fails on GPIO access
- `emb6` automatically sets samr21-xpro as targ

[2016-07-26 17:26] BytesGalore opened #22 "02-tests/task 01 Release 2016.07 - RC1"
# Task \# 01
## Execute all tests on `native` and check their output:

- [x] bitarithm_timings
- [x] bloom_bytes
- [x] coap
- [x] conn_ip
- [x] cpp11_condition_variable
- [x] cpp11_mutex
- [x] cpp11_thread
- [x] driver_adt7310
- [x] driver_at30tse75x
- [x] driver_at86rf2xx
- [x] driver_bh1750
- [x] driver_bmp180
- [x] driver_dht **-> compiles without warning runs and obviously fails**
- [x] driver

[2016-07-26 17:28] BytesGalore commented on #21
I made #22 to discuss collect observations for `02-Tests/Task 01`

[2016-07-26 17:34] BytesGalore commented on #22
feel free to edit the list :)

[2016-07-26 17:35] kYc0o commented on #21
Great! Thanks! :D

[2016-07-26 17:37] PeterKietzmann commented on #21
I will start with with 03-Single Hop IPv6 ICMP

[2016-07-26 18:25] PeterKietzmann commented on #21
I will continue with 04-Single Hop 6LoWPAN ICMP

[2016-07-26 18:33] kYc0o commented on #21
Can you edit the comment to update if the tests were successful?

[2016-07-26 20:24] PeterKietzmann commented on #21
04-Single Hop 6LoWPAN ICMP Task 03 gets stuck

[2016-07-26 20:24] PeterKietzmann commented on #21
(tested with iotlab-m3 to iotlab-m3 and iotlab-m3 to samr21-xpro)

[2016-07-26 20:25] miri64 commented on #21
Uhm, where is the tag to test this against?

[2016-07-26 20:26] kYc0o commented on #21
I didn't do it, can you? I don't know if I have rights.

[2016-07-26 20:29] PeterKietzmann commented on #21
Just for the record: I tested with commit `b5cb68bd6673abe02166f8af7782aa2745ca08cd`

[2016-07-26 20:32] miri64 commented on #21
Mh come to think of it @OlegHahm you want to wait for https://github.com/RIOT-OS/RIOT/pull/2071 to be merged before we create 2016.07-branch (on which RC1 would be)... so let's wait for it.

[2016-07-26 20:33] kYc0o commented on #21
Yes @PeterKietzmann  that's the last commit before the last PR was merged this afternoon. @miri64  I'd like to wait for that one too.

[2016-07-26 20:38] miri64 commented on #21
@kYc0o and when we backport it?

[2016-07-26 21:01] kYc0o commented on #21
Performing Task 01

[2016-07-26 21:02] kYc0o commented on #22
Great! Thanks @BytesGalore @miri64 any hints on emb6 and lwip errors?

[2016-07-26 21:13] miri64 commented on #22
@BytesGalore @kYc0o can not reproduce, sadly :(

[2016-07-26 21:22] BytesGalore commented on #22
@kYc0o @miri64 `emb6` sets the `samr21-xpro` board as default [1].
using:
[code]
results in the expected behaviour, i.e. unsatisfied requirements and build fail
[1] https://github.com/RIOT-OS/RIOT/blob/master/tests/emb6/Makefile#L5

[2016-07-26 21:30] miri64 commented on #22
The reason this application sets it as a default is because there is no native support for it.

[2016-07-26 21:32] miri64 commented on #22
(emb6 only has IEEE 802.15.4 support so porting it for native wouldn't make much sense anyway, at least until #5582 is merged)

[2016-07-26 21:33] miri64 commented on #22
((also also: https://github.com/RIOT-OS/RIOT/issues/4672 needs to be solved, so auto-init also works for non GNRC-stacks))

[2016-07-26 21:38] BytesGalore commented on #22
@miri64 yup I expected it to not compile and run but I expected a specific behaviour, i.e. failing with an unsatisfied requirements warning.

Similar applies for `lwip` the `iotlab-m3` board is set when `BOARD` is not provided [1].
using:
[code]
results in a successful build and allows to start the compiled test-application (though untested yet)

[1] https://github.com/RIOT-OS/RIOT/blob/master/tes

[2016-07-26 21:41] PeterKietzmann commented on #21
Performing 06-Single Hop UDP now on the pre-RC

[2016-07-26 21:55] kYc0o commented on #22
So what's the conclusion on this? Can we say that the test ran successfully?

[2016-07-26 22:10] BytesGalore commented on #22
@kYc0o don't know, I guess `lwip` is not supposed to run on `native` but it successfully builds and the test-application can be started.
Beside this uncertainty I would say the test ran successfully.

btw. Since we have no release branch yet, I performed the tests on:
https://github.com/RIOT-OS/RIOT/commit/b5cb68bd6673abe02166f8af7782aa2745ca08cd

[2016-07-26 22:11] kYc0o commented on #22
Ok great. Yes that was the last commit before I started the tests too.

[2016-07-27 07:34] BytesGalore opened #23 "02-tests/task 02 Release 2016.07 - RC1"
# Task \# 02
## Perform a subset of tests on [`iotlab-m3`](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-IoT-LAB-M3) node:

- [x] bitarithm_timings
- [ ] bloom_bytes
- [ ] coap
- [x] conn_ip **sent 3 pings out (`ping6`)**
- [ ] cpp11_condition_variable
- [ ] cpp11_mutex
- [x] cpp11_thread
- [ ] driver_adt7310
- [ ] driver_at30tse75x
- [x] driver_at86rf2xx
- [ ] driver_bh1750
- [ ] driver_bmp180
-

[2016-07-27 07:40] BytesGalore opened #24 "02-tests/task 03 Release 2016.07 - RC1"
# Task \# 03
### Perform a subset of tests (!= subset from [Task #02](https://github.com/RIOT-OS/Release-Specs/issues/23)) on [`samr21-xpro`](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-SAMR21-xpro) node:

- [ ] bitarithm_timings
- [x] bloom_bytes
- [ ] coap
- [ ] conn_ip
- [x] cpp11_condition_variable
- [ ] cpp11_mutex
- [ ] cpp11_thread
- [x] driver_adt7310 **-> results in expected behaviour:

[2016-07-27 07:44] BytesGalore commented on #21
I made #23 and #24 for the remaining 02-Tests/*

[2016-07-27 09:18] kYc0o commented on #21
CI task 02 works only with launchpad versions of arm-none-eabi-gcc, and fails with embedded versions at least on Debian Jessie and Ubuntu 14.04.

[2016-07-27 10:11] BytesGalore commented on #23
tests performed on:
https://github.com/RIOT-OS/RIOT/commit/b5cb68bd6673abe02166f8af7782aa2745ca08cd
with:
`gcc version 5.3.1 20160307 (release) [ARM/embedded-5-branch revision 234589] (GNU Tools for ARM Embedded Processors)`

[2016-07-27 11:36] miri64 commented on #22
lwIP *is* supposed to run on native! So if it runs what is the problem? :/

[2016-07-27 11:50] BytesGalore commented on #22
@miri64 if its supposed to run on `native` I propose that we change the default set `BOARD` accordingly.

When I start it on `native` `ifconfig` states:
[code]
but sending some packet fails:
[code]
probably I just failed to use it properly.

[2016-07-27 11:58] BytesGalore commented on #22
ok, I failed :blush:
[code]

[2016-07-27 12:14] miri64 commented on #22
:+1:

[2016-07-27 12:21] BytesGalore commented on #22
I propose https://github.com/RIOT-OS/RIOT/pull/5698 to change the default `BOARD` to `native` for `lwip`

[2016-07-27 13:29] BytesGalore commented on #24
[`test/msg_send_receive`](https://github.com/RIOT-OS/RIOT/tree/master/tests/msg_send_receive) fails on the `samr21-xpro` Is this already known?

[2016-07-27 13:33] kYc0o commented on #24
Not to my knowledge. It's supposed to be a reference board so most of the code should work. How it fails?

[2016-07-27 13:36] BytesGalore commented on #24
Basically the test state its failed, which results from the if-condition for the content received in the messages does not match [1]

[1] https://github.com/RIOT-OS/RIOT/blob/master/tests/msg_send_receive/main.c#L53

[2016-07-27 13:39] kYc0o commented on #24
Humm... ok I'll try to reproduce.

[2016-07-27 14:01] BytesGalore commented on #24
seems that something is messed up for the last iteration.
I printed the values of `counter` and `msg_resp.content.ptr`:
[code]

[2016-07-27 14:06] kYc0o commented on #24
Uhm... yeah I'm having the same problem. We need to open an issue for that and try to solve it. Else at least leave the issue open for the next release and solve it asap.

[2016-07-27 14:21] BytesGalore commented on #24
ok, I created an issue https://github.com/RIOT-OS/RIOT/issues/5699
I assigned you, but feel free to reassign.

[2016-07-27 15:23] BytesGalore commented on #24
alright next:
[`test/posix_semaphore`](https://github.com/RIOT-OS/RIOT/tree/master/tests/posix_semaphore) fails on performing the last test, i.e. [`TEST4`](https://github.com/RIOT-OS/RIOT/blob/master/tests/posix_semaphore/main.c#L238).
It seems the [`sem_timedwait(...)`](https://github.com/RIOT-OS/RIOT/blob/master/tests/posix_semaphore/main.c#L252) call doesn't wait the desired period.

[2016-07-27 15:30] BytesGalore commented on #24
beside `PRIu64` does not seem to work on the `samr21-xpro`,
expected, e.g.:
`first: waited 1000134 usec`
actually got:
`first: waited lu usec`

[2016-07-27 15:34] kYc0o commented on #24
uhm... maybe it needs a special module as for floating point numbers?

[2016-07-27 16:10] miri64 commented on #24
That's not floating points that's long integers ;-). Remember https://github.com/RIOT-OS/RIOT/issues/1891?

[2016-07-27 16:26] kYc0o commented on #24
OK so it needs to load that module for samr21. Can it be done on the Makefile?

[2016-07-27 16:32] miri64 commented on #24
There is no such mudule for long int at least not on the RIOT side. But we can hack something together... But since we decided yesterday to postpone this for next release I would propose to do so and do for now as we always did: ignore this kind of output for now :D

[2016-08-01 05:53] BytesGalore commented on #24
Regarding the fail for [`test/posix_semaphore`](https://github.com/RIOT-OS/RIOT/tree/master/tests/posix_semaphore) [`TEST4`](https://github.com/RIOT-OS/RIOT/blob/master/tests/posix_semaphore/main.c#L238), I have a difference of ~`265 us` between the actual wait time vs the expected.
I guess this corresponds with the timer drifts so basically this test succeeded :D

[2016-08-01 05:57] BytesGalore commented on #21
02-Tests succeeded

[2016-08-01 08:34] kYc0o commented on #21
I'm going through 07

[2016-08-01 11:52] PeterKietzmann commented on #21
04/Task 03 and 05/Task 02 are failing on a node (iotlab-m3). It seems the great payload size (1KB) is the problem

[2016-08-01 13:18] miri64 commented on #21
@PeterKietzmann at which side did you do your experiments. I had high packet loss in Grenoble because the nodes picked by default by the cli-tools are very close to a running experiment. Just tried 04/Task 03 in Grenoble and hand no problems (still running but should be >90% received)

[2016-08-01 13:20] miri64 commented on #21
Now it's done: it was it 0% packet loss in Lyon.

[2016-08-01 13:21] PeterKietzmann commented on #21
Hmm. I've tested in Paris as well as on my desk.

[2016-08-01 13:22] kYc0o commented on #21
Sorry I'm also using grenoble for RPL experiments. However theres someone abusing on the usage, maybe he's generating traffic and interferences.

[2016-08-01 13:23] PeterKietzmann commented on #21
And you tried with `ping6 100 <addy> 1000 0 10`?

[2016-08-01 13:25] PeterKietzmann commented on #21
PS: Paris was nearly unused at that time

[2016-08-01 13:27] miri64 commented on #21
No `And you tried with ping6 100 <addy> 1024 10` is the correct one. Forgot, what stats interval is, but its not needed for these tests.

[2016-08-01 13:29] miri64 commented on #21
@kYc0o for small payloads background traffic is no problem, but for 1024 B (when your IPv6 packet consists of >10 radio frames) or even smaller (in my tests problems started at around 550 B) the packet loss is naturally much higher.

[2016-08-01 15:01] miri64 commented on #21
Just went into it with the debugger and found that for both 04/Task 03 and 05/Task 02 https://github.com/RIOT-OS/RIOT/issues/5486 is at least one of the reasons for the problems @PeterKietzmann (and now me too) are seeing. For the release I would recommend to note it down as a known problem.

[2016-08-01 15:01] miri64 commented on #21
(unless someone feels like fixing)

[2016-08-01 15:02] miri64 commented on #21
One can check with the debugger btw by typing

[code]

If the result isn't zero while nothing is sending the state is broken and interrupts got lost.

[2016-08-01 15:11] kYc0o commented on #21
Ok let's put it in the Release notes as a known issue, hoping to solve it for the next release.

[2016-08-01 15:15] PeterKietzmann commented on #21
BTW: would you share a link to the WIP release notes? Maybe link it somewhere in the issue description above?

[2016-08-01 15:16] kYc0o commented on #21
There is [one](http://www.yourpart.eu/p/RIOT-RN2016.07) since the beginning that I'd be sooo glad to get help with :)

[2016-08-01 20:29] miri64 commented on #21
I did the RIOT<=>RaspPi tests on a samr21-xpro, since my IoT-Lab nodes don't seem to be usable anymore (terminal does not react :(). Should be valid anyway.

[2016-08-01 20:32] miri64 commented on #21
Since I'm the one who introduced emb6 and lwIP I think its best if someone else does 8.8-10. @BytesGalore, what about you? You used the applications in Task 2 already ;-).

[2016-08-01 20:33] miri64 commented on #21
Oh and @kYc0o can you please do 8.3?

[2016-08-01 20:37] kYc0o commented on #21
Yes I'll do it asap

[2016-08-01 20:38] miri64 commented on #21
I think tomorrow would suffice ;-)

[2016-08-02 08:56] kYc0o commented on #21
I'd like to wait for #5698 before making lwip tests but it seems to fail with Murdock...

[2016-08-02 08:59] PeterKietzmann commented on #21
@kYc0o #5698 is not a bugfix. Why should it go into the release branch?

[2016-08-02 09:05] kYc0o commented on #21
Yes I know it's not a bugfix but lwip is intended to run on native, which would be able to compile the tests and if it fails we should fix it... But we can continue like this if you think it's not really am obstacle.

[2016-08-02 09:24] PeterKietzmann commented on #21
I had some problems testing 08/08 and 08/10. For GNRC I used the default examples/gnrc_networking and for lwip tests/lwip. I sniffed the traffic in parallel to see what is going on.

1.1 GNRC to lwip
GNRC sends UDP packets but lwip does not react.

1.2 lwip to GNRC
Instead of directly sending the UDP packet to the link local address, the lwip sends a neighbour solicitation (NS) message to the GNRC

[2016-08-02 09:25] PeterKietzmann commented on #21
@kYc0o if #5698 is needed to perform task 01/02 it would be fine with me.

[2016-08-02 09:37] kYc0o commented on #21
Yes of course, the goal is to test interoperability between RIOT and RaspPi, so with a samr21 it's also valid.

[2016-08-02 09:39] miri64 commented on #21
So lwIP is the only one that is problematic? Do I see that right?

[2016-08-02 09:46] PeterKietzmann commented on #21
From what I reported it seems that interoperability with lwip is the critical part, yes.

[2016-08-02 13:35] miri64 commented on #21
Okay, I digged into it now and basically this is the problem:

* this is the nodes EUI-64 `5a:5a:5c:5c:87:92:76:0e`
* and this is the generated link-local address from it: `fe80::5c5c:5a5a:e76:9287`

So somehow the bytes of the address get quite mixed up :-/, so the backtranslation RIOT does for link-local addresses does not work. I'll try to find out if that's a problem with my glue-code or a pro

[2016-08-02 14:24] miri64 commented on #21
Okay another problem is that while parsing the IEEE 802.15.4 header lwIP is [just "skipping" the source PAN](http://git.savannah.gnu.org/cgit/lwip.git/tree/src/netif/lowpan6.c?id=92f385aaed7dcccde632502711281234ccda958c#n1005) not checking if source PAN compression is activated. So this is a bug on lwIP's side. For the order of the EUI-64 bytes I'll open a PR regardless, but I would just create a

[2016-08-02 14:24] miri64 commented on #21
though... that's a known issue for lwIP... not for us I would say.

[2016-08-02 14:34] miri64 commented on #21
For PR https://github.com/RIOT-OS/RIOT/pull/5718.

[2016-08-02 14:40] kYc0o commented on #21
Can we reference the failing tests to their corresponding issues?

[2016-08-02 14:47] miri64 commented on #21
Done

[2016-08-02 14:50] kYc0o commented on #21
Great! so I need to finish the RPL stuff and then try Contiki interop and we should be done! :D

[2016-08-04 09:48] PeterKietzmann commented on #21
Any progress?

[2016-08-04 09:49] kYc0o commented on #21
No but I think I'll give up... I'll finish the release notes today and make the release announcement.

[2016-08-04 10:02] miri64 commented on #21
I'd like to have a look at the release notes, too and maybe find time to help in the afternoon.

[2016-08-04 10:36] kYc0o commented on #21
OK let's wait to the afternoon to make the release ;)

[2016-10-29 07:58] miri64 opened #25 "Release 2016.10 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2016.10](https://github.com/RIOT-OS/RIOT/releases/tag/2016.10-RC1) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md), @miri64
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) [on Ubuntu 16.04, @OlegHahm ran on Arch, but

[2016-10-29 07:58] #21 closed

[2016-10-29 07:58] #24 closed

[2016-10-29 07:58] #23 closed

[2016-10-29 07:58] #22 closed

[2016-11-01 03:20] A-Paul commented on #25
I volunteer to have an eye ( or maybe two) on 02-Tests

[2016-11-02 08:13] PeterKietzmann commented on #25
I've tested 04/Task 03 between:

- iotlab-m3 - iotlab-m3
- iotlab-m3 - samr21-xpro
- pba-d-01-kw2x - samr21-xpro
- remote-reva - samr21-xpro

Last combination seems unstable, had a relatively high loss (40%) and the remote got stuck after 612 pings. I assume it's a known issue but I forget which issue it was (@smlng, @aeneby)

[2016-11-02 09:39] miri64 commented on #25
I have no clue about that, but does https://github.com/RIOT-OS/RIOT/pull/5754 fix it for you (it still needs a backport for the release)?

[2016-11-02 13:30] miri64 commented on #25
@PeterKietzmann or did you mean https://github.com/RIOT-OS/RIOT/issues/5719?

[2016-11-02 13:35] PeterKietzmann commented on #25
I had #5786 in mind which I thought to be solved. However, #5719 seems similar and still persists. @smlng might have more insights.

[2016-11-02 13:36] miri64 commented on #25
@PeterKietzmann I'm asking since this would trigger a new RC if https://github.com/RIOT-OS/RIOT/pull/6041 and it gets merged. So please repeat the tests with https://github.com/RIOT-OS/RIOT/pull/6041.

[2016-11-02 13:51] PeterKietzmann commented on #25
No it does not solve the issue. The problem lies somewhere in the driver and only occurs when packets get fragmented. Probably it is even on the Atmel side ([#5486](https://github.com/RIOT-OS/RIOT/issues/5486)). IIRC Sebastian observed that fragments from the cc2538 are sent out faster than any other device can receive/reassemble.

[2016-11-02 15:19] A-Paul commented on #25
Build error on *unittests*:

     .netreg_port = {NULL, 0, KERNEL_PID_UNDEF},
     ^
In file included from /usr/local/src/RIOT/sys/include/net/gnrc.h:289:0,
                 from /usr/local/src/RIOT/sys/include/net/gnrc/coap.h:138,
                 from /usr/local/src/RIOT/sys/net/gnrc/application_layer/coap/gcoap.c:22:
/usr/local/src/RIOT/sys/include/net/gnrc/netreg.h:182:7: note: ‘target’ declar

[2016-11-02 15:28] kYc0o commented on #25
Me too :)

[2016-11-02 15:38] miri64 commented on #25
Great! @kYc0o @A-Paul could one of you open an issue to organize the effort?

[2016-11-02 15:47] A-Paul commented on #25
Hi @kYc0o, I have to leave for 2-3 hours and have already started Task #01. Maybe you can start Task #2 or #3, so we get not race conditions? :)

[2016-11-02 15:49] kYc0o commented on #25
Yes perfect, no problem, I had planned to start at 6pm so I'm ok with that.

[2016-11-02 17:44] kYc0o opened #26 "02-tests/task 02 Release 2016.10 - RC3"
# Task # 02
## Perform a subset of tests on [`iotlab-m3`](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-IoT-LAB-M3) node:
- [ ] bitarithm_timings
- [x] bloom_bytes OK but don't know if the output is right:
[code]
- [ ] coap
- [ ] conn_ip
- [x] cpp11_condition_variable __OK__
- [ ] cpp11_mutex
- [x] cpp11_thread __OK__
- [ ] driver_adt7310
- [ ] driver_at30tse75x
- [x] driver_at86rf2xx __OK__
- [ ]

[2016-11-02 18:51] kYc0o commented on #26
Some strange thing... when I flash any firmware I receive the output as `Version: 2017.01-devel ...` is this normal? @miri64 can you check?

[2016-11-02 19:30] A-Paul opened #27 "02-tests/task 01 Release 2016.10 - RC1"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [ ] conn_ip
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [x] fault_handler **success**
- [x] float **success**
- [x] fmt_print **success**
- [ ] gnrc_ipv6_ext
- [x] gnrc_sixlowpan **success**
- [x] gnrc_sock_ip **success**
- [x] gnrc_sock_udp **success**
- [x] irq **succ

[2016-11-02 20:17] A-Paul commented on #27
Ouput for *mutex_order*:

Mutex order test
Please refer to the README.md for more information

T4 (prio 4): locking mutex now
T5 (prio 0): locking mutex now
T6 (prio 2): locking mutex now
T7 (prio 1): locking mutex now
T3 (prio 6): unlocking mutex now
T5 (prio 0): unlocking mutex now
T7 (prio 1): unlocking mutex now
T6 (prio 2): unlocking mutex now
T4 (prio 4): unlocking mutex now

[2016-11-02 22:37] A-Paul commented on #27
Compile error for *cpp11_condition_variable*, *cpp11_mutex* and *cpp11_thread*:

/usr/bin/ld: skipping incompatible /usr/lib/gcc/x86_64-linux-gnu/4.9/libstdc++.a when searching for -lstdc++
/usr/bin/ld: cannot find -lstdc++
collect2: error: ld returned 1 exit status

Any idea?

[2016-11-03 00:47] miri64 commented on #26
Yes and I don't need to, but I can explain ;-) Have a look at what commit `2016.10-RC1` is pointing at:

[code]

That's the branching-of point of `2016.10-branch` from `master` (so the start of the new release). Since `2017.01-devel` is an annotated tag (for the very reason to be picked up by `git describe`) `git describe` picks up preferred to `2016.10-RC1` which only is a [lightweight tag][1]. A

[2016-11-03 00:59] miri64 commented on #27
/usr/bin/ld: skipping incompatible /usr/lib/gcc/x86_64-linux-gnu/4.9/libstdc++.a when searching for -lstdc++
/usr/bin/ld: cannot find -lstdc++
collect2: error: ld returned 1 exit status

You need to install that library for 32-bit. But I don't really remember how it is called in Ubuntu (or Arch). @josephnoir can you help?

About `mutex_order` I think the locking order isn't that important, but the

[2016-11-03 09:02] A-Paul commented on #27
@miri64 , thanks for your suggestion. This is the error *after* I installed *libstdc++-4.9-dev* for the i386 architecture.
But I had to install *lib32stdc++-4.9-dev* for the amd64 architecture.
Multiarch is hilarious. :P

[2016-11-03 11:35] OlegHahm commented on #27
The README of this test is definitely wrong. I prepare a fix.

[2016-11-03 11:39] miri64 commented on #27
@A-Paul I can't reproduce the failed `od` test (I have `pexpect==4.0.1` installed, older versions were always a bit iffy). Did you install from ubuntu repository or using pip? If the first is the case, please use the pip version.

[2016-11-03 11:52] miri64 commented on #26
@cgundogan @OlegHahm can you look into the output of `tests/bloom_bytes`?

[2016-11-03 11:57] OlegHahm commented on #27
Regarding c++ problems, I have a similar error:
[code]
However:
[code]

[2016-11-03 11:58] miri64 commented on #27
Shouldn't this rather go to #28? These here are native tests ;-)

[2016-11-03 11:59] OlegHahm commented on #27
Yepp.

[2016-11-03 12:00] miri64 commented on #26
@kYc0o emb6 issue fixed in https://github.com/RIOT-OS/RIOT/pull/6045

[2016-11-03 12:02] OlegHahm opened #28 "C++ buildproblems with arm-none-eabi-g++ v6"
Building for ARM-Cortex platforms currently fails for me with:
[code]
However:
[code]

[2016-11-03 12:06] josephnoir commented on #27
@A-Paul You solved your C++ problem, right?
@OlegHahm I can compile the cpp11_condition_variable test without issues for the samr21-xpro using compiler version 5.4.1. However, my stdlib.h file has a different location:

[code]

Where did you get the 6.2.0 version?

[2016-11-03 12:11] miri64 commented on #25
Okay, tests already show some issues with this RC. So please finish up the tests you are currently running and then stop testing for now. Let's merge and backport https://github.com/RIOT-OS/RIOT/pull/6028, https://github.com/RIOT-OS/RIOT/pull/6045, https://github.com/RIOT-OS/RIOT/pull/6046, https://github.com/RIOT-OS/RIOT/pull/6047 and any PR that might fall out of https://github.com/RIOT-OS/Relea

[2016-11-03 12:13] OlegHahm commented on #27
@josephnoir, let's continue in #28.

[2016-11-03 12:14] OlegHahm commented on #28
From the Arch repository:
[code]
[code]

[2016-11-03 12:35] kYc0o commented on #28
I ran that test yesterday with success. Here my compiler:

[code]

[2016-11-03 12:37] josephnoir commented on #28
Works with version 5.4 as well. Can't find version 6 for macOS. Could that be a compiler bug?

[2016-11-03 12:47] josephnoir commented on #28
Maybe @gebart has the right compiler and can reproduce this?

[2016-11-03 13:12] A-Paul commented on #27
Hi @josephnoir, thanks for stopping by...

Yes. Turns out I didn't *have* a problem, I have *been* the problem. :-)

[2016-11-03 13:21] miri64 commented on #27
@A-Paul I hope https://github.com/RIOT-OS/Release-Specs/issues/27#issuecomment-258120500 did not get lost in the other comments ;-)

[2016-11-03 13:22] A-Paul commented on #27
@miri64,

Neither. Debian jessie (python-pexpect 3.2-1). But I declare you as trustworthy and take this statement:

to set the test to **success**.

[2016-11-03 13:23] miri64 commented on #27
You should be able to install pexpect 4 with pip (python-pip in debian repository ;-))

[2016-11-03 13:44] A-Paul commented on #28
From [GNU ARM Embedded Toolchain](https://launchpad.net/gcc-arm-embedded):

Maybe it's advisable to use a *stable* toolchain for RIOT development. ;)

[2016-11-03 13:46] miri64 commented on #27
confirmed.

[2016-11-03 15:44] OlegHahm commented on #28
Why do you conclude that 6.2 is *not* stable?

[2016-11-03 15:45] OlegHahm commented on #28
And why got this issue renamed?

[2016-11-03 15:46] OlegHahm commented on #27
see https://github.com/RIOT-OS/RIOT/pull/6051

[2016-11-03 16:00] miri64 commented on #27
Those two don't seem to be related :P

[2016-11-03 16:39] A-Paul commented on #27
@OlegHahm output and README.md correlate now. The python script isn't very helpful now. But that's not an error and can be improved later.

[2016-11-03 16:43] miri64 commented on #27
Discussing PR not in the PR is not very fruitful ;-).

[2016-11-03 16:48] A-Paul commented on #27
@miri64 my fault. I thought it is already merged and just wanted to give feedback.

[2016-11-03 18:08] A-Paul commented on #28
I'm not aware of renaming the issue. Sorry, if I did it by accident.

[2016-11-03 18:22] kYc0o commented on #26
Should I wait for RC2 to continue the tests?

[2016-11-04 00:03] miri64 commented on #26
Yes. Will create it tomorrow morning.

[2016-11-04 00:41] miri64 commented on #28
I renamed it. I did not think " 01-tests/task 01 Release 2016.10 - RC1" was really helpful

a) because it did not discribe the problem
b) because task 1.1 has nothing to do with arm-none-eabi-g++ (since those are about native)

[2016-11-04 17:13] miri64 opened #29 "Release 2016.10 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2016.10](https://github.com/RIOT-OS/RIOT/releases/tag/2016.10-RC2)

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md), @miri64
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [x] [Task 02](https://github.com/RIOT-OS/Release-S

[2016-11-04 17:13] #25 closed

[2016-11-04 17:14] miri64 commented on #25
Superseded by https://github.com/RIOT-OS/Release-Specs/issues/29

[2016-11-04 17:19] miri64 commented on #29
I leave the opening of orga issues for task 2 to those who grab it.

[2016-11-04 17:25] A-Paul commented on #29
Shouldn't the title be ".... - RC2"?

[2016-11-04 17:34] miri64 commented on #29
Yes, thanks. Copy-pasta :D

[2016-11-04 18:17] miri64 commented on #29
@PeterKietzmann since I'm lacking the hardware you used for RC1 on Task 04: can you repeat the experiments for everything you tested except `iotlab` to `iotlab` (this I tested on the testbed).

[2016-11-04 19:07] A-Paul opened #30 "02-tests/task 01 Release 2016.10 - RC2"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [ ] conn_ip
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [x] fault_handler **success**
- [x] float **success**
- [x] fmt_print **success**
- [ ] gnrc_ipv6_ext
- [x] gnrc_sixlowpan **success**
- [x] gnrc_sock_ip **success**
- [x] gnrc_sock_udp **success**
- [x] irq **succ

[2016-11-04 21:18] A-Paul commented on #29
Almost done with *02-Tests/task 01 Release 2016.10 - RC2*.
I'm leaving and go home now. I will finish the missing long-running tests.
I take a board with me and try to find spare time over the weekend to run some tests for *02-Tests task 03*. But I can't promise yet.

[2016-11-04 21:41] miri64 commented on #27
superseded by #30.

[2016-11-04 21:41] #27 closed

[2016-11-05 09:36] miri64 commented on #29
I'm sorry, but with https://github.com/RIOT-OS/RIOT/pull/6062 merged it makes little sense to continue testing this one. I open a new RC.

[2016-11-05 09:40] miri64 opened #31 "Release 2016.10 - RC3"
This issue lists the status of all tests for the [Release Candidate 3 of the 2016.10](https://github.com/RIOT-OS/RIOT/releases/tag/2016.10-RC3)

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md), @miri64
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [x] [Task 02](https://github.com/RIOT-OS/Release-S

[2016-11-05 09:40] miri64 commented on #29
Superseded by #31

[2016-11-05 09:40] #29 closed

[2016-11-05 09:49] miri64 commented on #30
Please note: we changed to RC3 already, so we need to repeat these tests :-/

[2016-11-05 09:49] miri64 commented on #26
We are on RC3 already, so please continue with that one.

[2016-11-05 10:00] kYc0o commented on #26
OK ça roule! :P

[2016-11-07 13:42] miri64 commented on #31
Okay... another go. The issue reported in https://github.com/RIOT-OS/RIOT/pull/5926 let's most of the UDP tests in 8 fail (and 7 is also suspected), so I look into that now and might open an new RC if I can get some results

[2016-11-07 13:45] kYc0o commented on #26
Kernel panic in `gnrc_sock_udp`:

[code]

[2016-11-07 13:55] miri64 commented on #26
that's a `FAILED ASSERTION`. Can you tell me which board you are using and which line the assertion fails (using http://doc.riot-os.org/group__core__util.html#ga2200149ba880bf26fed140bdcf318113)

[2016-11-07 14:03] miri64 commented on #26
Ah, got it already:

[code]

And that's because the packet buffer is not empty nor clean:

[code]

I'll try to find time to dig into this :-/

[2016-11-07 14:04] miri64 commented on #26
(probably related to https://github.com/RIOT-OS/RIOT/issues/4048?)

[2016-11-07 14:20] kYc0o commented on #26
The release specs says that this tests should be done in an iotlab-m3, which is the one I'm using.

[2016-11-07 14:21] cgundogan commented on #28
@OlegHahm I can reproduce on arch with
[code]

[2016-11-07 14:23] cgundogan commented on #28
btw, its also failing for me on native, with:
[code]

[2016-11-07 14:40] josephnoir commented on #28
@cgundogan Are you using gcc 6.something on native as well?

[2016-11-07 14:42] cgundogan commented on #28
@josephnoir `g++ (GCC) 6.2.1 20160830`

[2016-11-07 15:10] cgundogan commented on #28
@josephnoir I also hit that error with `arm-none-eabi-g++`, so it's not just native.

[2016-11-07 15:22] kYc0o commented on #26
`POSIX_SEMAPHORE` fails at `TEST 4`:

[code]

[2016-11-07 15:55] kYc0o commented on #26
Just finished the tests on iotlab-m3 with these tests failing:

[code]

[2016-11-08 10:00] miri64 commented on #26
How do `od` and `sizeof_tcb` fail?

[2016-11-08 10:08] kYc0o commented on #26
`sizeof_tcb` fails at the printing, the output is not formatted and only a "zu" is shown in the results.

`od` fails with a pointer which is out of the stack or something like this. I'll provide the exact output.

[2016-11-08 10:12] OlegHahm commented on #28
Confirmed.

[2016-11-08 13:30] kYc0o commented on #26
Well actually I don't know if it's an expected behaviour or an error, but after a big output of tests for several functions it ends by this:

[code]

[2016-11-08 13:32] kYc0o commented on #26
I think it fails here:

[code]

[2016-11-08 15:30] miri64 commented on #26
For `sizeof_tcb` fix is provided in https://github.com/RIOT-OS/RIOT/pull/6078

[2016-11-08 15:34] kYc0o commented on #26
Great thanks! testing asap.

[2016-11-08 15:39] miri64 commented on #26
For `posix_semaphore` fix is provided at https://github.com/RIOT-OS/RIOT/pull/6079

[2016-11-08 15:40] miri64 commented on #26
`od` and `gnrc_sock_udp` are a different game. Look into them now.

[2016-11-08 15:45] miri64 commented on #26
Interestingly enough, without optimization the error in `od` does not happen :-/

[2016-11-08 16:17] miri64 commented on #26
`od` "fixed" in https://github.com/RIOT-OS/RIOT/pull/6080

[2016-11-08 17:22] miri64 commented on #26
Turns out the issue with gnrc_sock_udp *was* related to https://github.com/RIOT-OS/RIOT/issues/5748. Here's a quick-fix: https://github.com/RIOT-OS/RIOT/pull/6084

[2016-11-08 18:24] kYc0o commented on #26
Excellent, everything works well now. I'll move to the next task.

[2016-11-08 18:27] miri64 commented on #26
I hope you stay on RC3 for that! ;-) For `gnrc_sock_ip` (which I tested since I was working on `gnrc_sock_udp`) you might need https://github.com/RIOT-OS/RIOT/pull/6083. Otherwise this will fail, too. Will write a mail to devel and maintainers about the state of RC4. If you want to wait for that, before continuing testing RC3, I understand.

[2016-11-08 18:29] kYc0o commented on #26
Yes! I'm on RC3. Yes I also looked at https://github.com/RIOT-OS/RIOT/pull/6083 and I can retest if needed.
Ok, I can wait for RC4 to move for the tests on samr21-xpro (task 03).

[2016-11-08 18:30] miri64 commented on #26
Might be still of use to prevent an RC5 ;-) Just saying :-).

[2016-11-08 18:34] kYc0o commented on #26
I forgot `posix_semaphore` and got another error :/ :

[code]

[2016-11-08 18:36] kYc0o commented on #26
Maybe the timeouts are too short?

[2016-11-08 18:36] kYc0o commented on #26
(hit the bad button)

[2016-11-08 19:24] miri64 commented on #26
what timeouts?

[2016-11-08 19:27] miri64 commented on #26
Are you sure this is a fail? The test script [expects exactly the output you provided](https://github.com/RIOT-OS/RIOT/blob/master/tests/posix_semaphore/tests/01-run.py#L16-L35)

[2016-11-08 19:35] kYc0o commented on #26
Oups! just interpreted the failing message as a real failure, and I didn't look at such script. Then these tests are over.

[2016-11-09 14:43] #28 closed

[2016-11-09 18:34] A-Paul opened #32 "02-tests/task 01 Release 2016.10 - RC3"
- [x] bitarithm_timings
- [x] bloom_bytes
- [ ] conn_ip
- [x] cpp11_condition_variable
- [x] cpp11_mutex
- [x] cpp11_thread
- [x] fault_handler
- [x] float
- [x] fmt_print
- [ ] gnrc_ipv6_ext
- [ ] gnrc_sixlowpan
- [ ] gnrc_sock_ip
- [ ] gnrc_sock_udp
- [x] irq
- [x] libfixmath
- [x] libfixmath_unittests
- [x] malloc
- [x] msg_send_receive
- [x] msg_try_receive
- [x] mutex_order
- [x] mutex_unlock

[2016-11-09 18:35] A-Paul commented on #30
Closing and restarting with https://github.com/RIOT-OS/Release-Specs/issues/32

[2016-11-09 18:35] #30 closed

[2016-11-09 18:37] miri64 commented on #32
@A-Paul just to check your time isn't wasted: did you saw my mails on maintainers/devel?

[2016-11-09 18:38] miri64 commented on #32
(regarding RC4 as soon the remaining PRs got merged/backported)

[2016-11-09 19:33] A-Paul commented on #32
@miri64 thanks for warning me. :) But I had already done all tests this afternoon and just dumped the check marked list here.
Got it. Reboot tomorrow...

[2016-11-10 08:12] miri64 opened #33 "Release 2016.10 - RC4"
This issue lists the status of all tests for the [Release Candidate 4 of the 2016.10](https://github.com/RIOT-OS/RIOT/releases/tag/2016.10-RC4)

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md), @miri64
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) [Ubuntu 16.04]
  - [x] [Task 02](https://github.com/RI

[2016-11-10 08:12] miri64 commented on #31
Superseded by #33

[2016-11-10 08:12] #31 closed

[2016-11-10 11:15] PeterKietzmann commented on #33
Insights about 04 Task 03:
- iotlab-m3 - iotlab-m3, ok
- iotlab-m3 - samr21-xpro, ok
- samr21-xpro - remote-revb , ok (surprisingly)
- pba-d-01-kw2x - samr21-xpro, ok (8% loss)
- pba-d-01-kw2x - remote-revb, ok
- remote-revb - pba-d-01-kw2x, ok
-  iotlab-m3 - pba-d-01-kw2x, **not working**

FYI: I used an external antenna on the remote-revb.

[2016-11-10 11:30] miri64 commented on #33
kw2x needs rework anyway and the board is not in the Release Specs (yet), so I count this as a success.

[2016-11-10 11:35] miri64 commented on #32
@A-Paul RC4 is open now, so have fun :-)

[2016-11-10 12:29] kYc0o commented on #33
02 - task 02 should be redone? I think it should be good since several PRs were issued from these tests...

[2016-11-10 12:35] miri64 commented on #33
Yes.

[2016-11-10 12:37] miri64 commented on #33
@PeterKietzmann but why is there a tick for 5.2 then?

[2016-11-10 12:39] PeterKietzmann commented on #33
there is no tick

[2016-11-10 12:39] miri64 commented on #33
Jedi Mindtrick ;-)

[2016-11-10 13:22] miri64 commented on #33
@PeterKietzmann was able to run 5.2

[code]

[2016-11-10 13:25] miri64 commented on #33
@kYc0o could you also please do 1.1 (on OSX) and 8.3?

[2016-11-10 13:27] PeterKietzmann commented on #33
Great! It was short before lunch and I forgot to add the fibroute entry on the receiver side. My bad, sorry for additional work.

[2016-11-10 17:56] A-Paul opened #34 "02-tests/task 01 Release 2016.10 - RC4"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [x] conn_ip **success**
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [x] fault_handler **success**
- [x] float **success**
- [x] fmt_print **success**
- [x] gnrc_ipv6_ext **success**
- [x] gnrc_sixlowpan **success**
- [x] gnrc_sock_ip **success**
- [x] gnrc_sock_udp **su

[2016-11-10 18:07] A-Paul commented on #32
Closing and proceeding with RC4.

[2016-11-10 18:07] #32 closed

[2016-11-10 18:44] A-Paul commented on #34
*test/xtimer_drift* has freezed after ~7min, ~3min and ~20min. No unusual drift or jitter values before stop.

[2016-11-10 18:54] miri64 commented on #34
Knonwn issue: https://github.com/RIOT-OS/RIOT/issues/6052

[2016-11-10 19:00] A-Paul commented on #34
And now it's known even better. :D

[2016-11-10 19:00] kYc0o opened #35 "02-tests/task 02 Release 2016.10 - RC4"
# Task # 02
## Perform a subset of tests on [`iotlab-m3`](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-IoT-LAB-M3) node:
- [ ] bitarithm_timings
- [x] bloom_bytes OK but don't know if the output is right:
[code]
- [ ] coap
- [ ] conn_ip
- [x] cpp11_condition_variable __OK__
- [ ] cpp11_mutex
- [x] cpp11_thread __OK__
- [ ] driver_adt7310
- [ ] driver_at30tse75x
- [x] driver_at86rf2xx __OK__
- [ ]

[2016-11-10 19:25] miri64 opened #36 "02-tests/task 03 Release 2016.10 - RC4"
# Task #02.03
## Perform a subset of tests on `samr21-xpro` node:
- [x] bitarithm_timings
- [x] bloom_bytes
- [x] coap
- [x] conn_ip
- [x] cpp11_condition_variable
- [x] cpp11_mutex
- [x] cpp11_thread
- [x] driver_at86rf2xx
- [x] driver_io1_xplained
- [x] fault_handler
- [x] float
- [x] fmt_print
- [x] gnrc_ipv6_ext
- [x] gnrc_sixlowpan
- [x] gnrc_sock_ip
- [x] gnrc_sock_udp
- [x] irq
- [x] leds
-

[2016-11-10 19:26] miri64 commented on #36
I selected the tests using

[code]

[code]

[2016-11-10 19:29] miri64 commented on #36
Ah, well I should probably exclude the driver tests that are not on that board  ;-) will test other stuff not tested instead https://github.com/RIOT-OS/Release-Specs/issues/26

[2016-11-10 21:16] miri64 commented on #34
What's with the non-ticked tests?

[2016-11-10 21:17] miri64 commented on #26
Superseded by #35

[2016-11-10 21:17] #26 closed

[2016-11-10 22:06] miri64 commented on #36
The issue on native (https://github.com/RIOT-OS/Release-Specs/issues/34) seems not to be present on `samr21-xpro`

[2016-11-10 23:43] miri64 commented on #36
Oops, I read seconds.... Will test tomorrow more longterm.

[2016-11-11 00:40] miri64 commented on #36
Did it now after all... it freezes after 20 minutes also.

[2016-11-11 13:28] kYc0o commented on #35
All subset of tests succeeded.

[2016-11-11 16:26] A-Paul commented on #34
Hi @miri64,

I was busy and offline today. Just wanted to complete but someone has been faster :-)

[2016-11-11 16:36] miri64 commented on #34
That was me ;-)

[2017-01-24 15:42] #33 closed

[2017-01-24 15:42] #34 closed

[2017-01-24 15:42] #35 closed

[2017-01-24 15:42] #36 closed

[2017-01-24 15:47] PeterKietzmann opened #37 "Release 2017.01 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2017.01](https://github.com/RIOT-OS/RIOT/releases/tag/2017.01-RC1) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [ ] [Task 02](https://github.com/RIOT-OS/Release-S

[2017-01-27 18:57] PeterKietzmann opened #38 "Release 2017.01 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2017.01](https://github.com/RIOT-OS/RIOT/releases/tag/2017.01-RC2) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md), @PeterKietzmann
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [x] [Task 02](https://github.com/

[2017-01-27 18:57] PeterKietzmann commented on #37
Closing in favour of #38

[2017-01-27 18:57] #37 closed

[2017-01-29 12:08] kb2ma commented on #38
My [functional tests](https://github.com/kb2ma/RIOT/wiki/Functional-Tests) for gcoap all passed on both native via TAP and samr21 via TUN (tunslip).

[2017-01-30 03:40] A-Paul opened #39 "02-tests/task 01 Release 2017.01 - RC2"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [x] fault_handler **success**
- [x] float **success**
- [x] fmt_print **success**
- [x] gnrc_ipv6_ext
- [x] gnrc_sixlowpan
- [x] gnrc_sock_ip **success**
- [x] gnrc_sock_udp **success**
- [x] irq **success**
- [x] libfixmath **s

[2017-01-30 10:13] smlng commented on #38
08-Interop, Task 04 was successful with following results:

* payload 10B, interval 10ms 9% packet loss
* payload 100B, interval 100ms, 18% packet loss
* payload 1000B, interval 1000ms, 61% packet loss

_NOTE_: real wireless (15.4) connection between Raspberry Pi with Openlabs transceiver and SAMR21-Xpro, default channel settings (26, 0x23) distance approx. 2m.

Software:

* Raspberry Pi: radvd
*

[2017-01-30 11:03] smlng commented on #38
08-Interop, Tasks 06 and 07 were successful, test with SAMR21-Xpro and RasPi as 6LBR

* UDP with 8B both directions
* UDP with 200B from host to RIOT only, because shell in GNRC networking has 128 char limit

[2017-01-30 12:17] smlng commented on #38
08-Interop, Task 05 successful, but somewhat unstable:

* ping between host and RIOT via RIOT 6LBR worked with approx. 8% packet loss
* 6LBR stops forwarding packets and does not respond to direct pings, though shell indicates no error on 6LBR
* had to try several times until pings got through and were forwarded correctly

[2017-01-30 12:23] smlng commented on #38
08-Interop, Task 05, second run more successful :)

* ping works in both directions, packet loss between 1 - 10%
* still: forwardings stopped (sometimes) for several seconds before self recovering

[2017-01-30 16:24] PeterKietzmann commented on #38
Thanks @kb2ma! @miri64 can you comment on @smlng's RIOT 6LBR results? Is this "known" issue? Do you remember results of your last release testing?

[2017-01-30 16:27] PeterKietzmann commented on #38
Outcome of [01-CI/Task-01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01):
[code]

[2017-01-30 16:37] miri64 commented on #38
Not exactly... At least the recovering part is new. But I don't know at the moment if I ever did these tests myself, either :-/. So I guess the safest thing is to check if it's reproducible on 2016.10.

[2017-01-30 22:52] A-Paul commented on #39
*tests/od* fails.

[2017-01-31 06:08] cgundogan commented on #39
Behaves correctly on my side (?)
[code]

[2017-01-31 06:10] cgundogan commented on #39
I was able to reproduce @A-Paul's error with `BOARD!=native`. But isn't the log saying
[code]
anyways?

[2017-01-31 09:13] BytesGalore opened #40 "02-tests/task 02 Release 2017.01 - RC2"
# Task # 02
## Perform a subset of tests on [`iotlab-m3`](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-IoT-LAB-M3) node:
- [x] bitarithm_timings
- [ ] bloom_bytes
- [ ] board_calliope-mini
- [x] board_microbit (**as expected:** whitelist works, headers are missing for this board)
- [ ] conn_ip
- [ ] cpp11_condition_variable
- [x] cpp11_mutex
- [ ] cpp11_thread
- [ ] driver_adt7310
- [x] driver_at

[2017-01-31 09:16] BytesGalore opened #41 "02-tests/task 03 Release 2017.01 - RC2"
# Task # 03
### Perform a subset of tests (!= subset from [Task #02](https://github.com/RIOT-OS/Release-Specs/issues/40)) on [`samr21-xpro`](https://github.com/RIOT-OS/RIOT/wiki/Board%3A-SAMR21-xpro) node:
- [x] bitarithm_timings
- [x] bloom_bytes
- [ ] board_calliope-mini
- [ ] board_microbit
- [x] conn_ip
- [ ] cpp11_condition_variable
- [ ] cpp11_mutex
- [x] cpp11_thread
- [ ] driver_adt7310
-

[2017-01-31 09:45] smlng commented on #38
08-Interop, Task05, third run with 2 SAMR21-Xpros:

* works more smoothly in both directions
* RIOT -> RIOT 6LBR -> Host 0-1% packet loss
* Host -> RIOT 6LBR -> RIOT 5-10% packet loss

First observation, from host to RIOT exhibits (always) more packet loss. Second: using RasPi as 6LBR is more stable compared to RIOT-based 6LBR. Third: results very subjective to radio device and its antenna; especi

[2017-01-31 12:24] A-Paul commented on #39
How did you have a successful run on native *and* reproduce the error?

[2017-01-31 12:55] miri64 commented on #39
@A-Paul can you check with traceback activated?

[code]

[2017-01-31 12:56] miri64 commented on #39
(maybe even with "echo" activated?)

[2017-01-31 13:14] A-Paul commented on #39
@miri64 I have things to do till afternoon. I'll check it later.
How do I activated those *flags*?

[2017-01-31 13:17] A-Paul commented on #39
Here's a detail I forgot to publish. Compare the last line with the expected values.

[2017-01-31 13:23] miri64 commented on #39
In the line I posted in the diff you can see how to do that (set them as parameters of the `run` function).

[2017-01-31 13:28] miri64 commented on #39
Seems like you got some garbage in there (the first 2 bytes are supposed to be `000000`, not `037700`). Curious only you get this :-/.

[2017-01-31 13:49] PeterKietzmann commented on #39
I guess he's not.
[code]

[2017-01-31 13:50] PeterKietzmann commented on #39
Can this be dependant on the compiler version? I have a quite old gcc version 4.9.3.

[2017-01-31 14:21] miri64 commented on #39
Mine's 5.4.0. Working on a "fix" right now.

[2017-01-31 14:39] miri64 commented on #39
See https://github.com/RIOT-OS/RIOT/pull/6529

[2017-04-18 21:43] kaspar030 opened #42 "Release 2017.04 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2017.04](https://github.com/RIOT-OS/RIOT/releases/tag/2017.04-RC1) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [ ] [Task 02](https://github.com/RIOT-OS/Release-S

[2017-04-19 06:09] #41 closed

[2017-04-19 06:10] #40 closed

[2017-04-19 06:10] #39 closed

[2017-04-19 06:10] #38 closed

[2017-05-08 11:55] kaspar030 opened #43 "Release 2017.04 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2017.04](https://github.com/RIOT-OS/RIOT/releases/tag/2017.04-RC2) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) (implicitly run by Murdock)
  - [x] [Task 02](https://

[2017-05-08 11:55] kaspar030 commented on #42
Closed in favour of #43.

[2017-05-08 11:55] #42 closed

[2017-05-09 08:23] miri64 commented on #43
UDP with header compression succeeded at 0.1% packet loss.

[2017-05-09 08:28] miri64 commented on #43
UDP without compression now too.

[2017-05-10 13:02] kaspar030 commented on #43
release is out!

[2017-05-10 13:02] #43 closed

[2017-05-10 14:00] miri64 commented on #43
@kaspar030 are you sure Task 01.1 is running on Murdock like it is supposed to? (see https://github.com/RIOT-OS/RIOT/issues/7033).

[2017-06-30 20:15] aabadie opened #44 "Release 2017.07 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2017.07](https://github.com/RIOT-OS/RIOT/releases/tag/2017.07-RC1) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [x] [Task 02](https://github.com/RIOT-OS/Release-S

[2017-07-01 13:02] miri64 commented on #44
Do we have a workaround for Task 01.1 in face of https://github.com/RIOT-OS/RIOT/issues/7033?

[2017-07-01 14:09] miri64 commented on #44
Task 06.1 isn't working :-/. Will debug on monday.

[2017-07-01 14:16] miri64 commented on #44
Mhhh... starting a UDP server helped ^^

[2017-07-01 15:25] miri64 commented on #44
Don't have `samr21-xpro`s at home, so I will do all tests (an the remaining interop tests) on Monday, when I'm in the office.

[2017-07-01 21:57] miri64 commented on #44
Task 01.1: all except the unittests (see RIOT-OS/RIOT#7033) are compiling.

[2017-07-01 21:59] miri64 commented on #44
(picked out compilations showed that the unittests currently are not compiling for MSP430 platforms (cbor.c has a number of problems).

[2017-07-01 22:04] miri64 commented on #44
(ah they are currently blacklisted via the cbor tests...)

[2017-07-01 22:07] aabadie commented on #44
Tasks 04.2 and 04.4 can be tested on IoT-Lab in Saclay site: I'll do that tomorrow.

[2017-07-02 11:39] aabadie commented on #44
Tested Tasks 04.2 and 04.4 on IoT-Lab : all work.

[2017-07-03 13:31] aabadie commented on #44
I have issues with Task 01.1 (Run `compile_test.py`) and PIC boards (pic32-clicker, pic32-wifire).
I installed the toolchain following the [wiki](https://github.com/RIOT-OS/RIOT/wiki/Family%3A-MIPS) but that doesn't help. Since it works on Murdock, I guess the problem comes from my setup or maybe the `compile_test.py` script itself.
Does someone has an idea ?

[2017-07-03 14:30] miri64 commented on #44
Did you set the appropriate paths? The output of the compile (not in compile_test.py though, just compile the application as usual via make) gives you some hints.

[2017-07-03 14:32] miri64 commented on #44
@aabadie I ran the `compile_test.py` script already btw (see https://github.com/RIOT-OS/Release-Specs/issues/44#issuecomment-312457715). I did not tick it because of the skipped unittests. I wanted to wait for an answer to https://github.com/RIOT-OS/Release-Specs/issues/44#issuecomment-312431087 first.

[2017-07-03 14:37] aabadie commented on #44
Yes, that was my initial issue but it doesn't solved the build error:
[code]

[2017-07-03 14:39] miri64 commented on #44
Mh.. for me it succeeds:

[code]

[2017-07-03 14:41] miri64 commented on #44
I am on RC1

[code]

and use GCC 4.9.2

[code]

[2017-07-03 18:39] aabadie commented on #44
Same here, very weird.

[2017-07-03 19:35] aabadie commented on #44
Seems to be an issue with objcopy, it uses the system version (according to the [code](https://github.com/RIOT-OS/RIOT/blob/master/cpu/mips_pic32mx/Makefile.include#L18)). I have 2.27:
[code]

[2017-07-03 20:16] miri64 commented on #44
[code]

[2017-07-03 20:17] miri64 commented on #44
But why isn't it using `mips-mti-elf-objcopy`?

[2017-07-04 21:16] miri64 commented on #44
@aabadie are you waiting for any particular fixes or should we continue on RC2 with https://github.com/RIOT-OS/RIOT/pull/7297 being merged?

[2017-07-04 21:25] aabadie commented on #44
Yes, I'd like to have https://github.com/RIOT-OS/RIOT/pull/7314 backported before going to RC2.

By the way, we could extend some network test to those boards (including XBee). I'm thinking of the groups 3, 4, 5, 6 and maybe 7. What do you think ?

[2017-07-06 11:24] miri64 commented on #44
@aabadie ping? are we continue testing here or is RC2 coming out soon, so we can test it?

[2017-07-06 12:16] aabadie opened #45 "Release 2017.07 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2017.07](https://github.com/RIOT-OS/RIOT/releases/tag/2017.07-RC2) release.

Specs tested:
- [ ] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [ ] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01)
  - [x] [Task 02](https://github.com/RIOT-OS/Release-S

[2017-07-07 09:41] aabadie commented on #44
RC2 published, closing.

[2017-07-07 09:41] #44 closed

[2017-07-13 07:05] A-Paul opened #46 "02-tests/task 01 Release 2017.07 - RC2"
- [x] bitarithm_timings
- [x] bloom_bytes
- [x] cbor
- [ ] conn_can
- [x] cpp11_condition_variable
- [x] cpp11_mutex
- [x] cpp11_thread
- [x] evtimer_msg
- [x] evtimer_underflow
- [x] fault_handler
- [x] float
- [x] fmt_print
- [ ] gnrc_ipv6_ext
- [ ] gnrc_sixlowpan
- [ ] gnrc_sock_dns
- [x] gnrc_sock_ip
- [x] gnrc_sock_udp
- [ ] gnrc_udp
- [x] irq
- [x] libfixmath
- [x] libfixmath_unittests
- [ ]

[2017-07-14 11:41] aabadie commented on #45
Release published, closing.

[2017-07-14 11:41] #45 closed

[2017-07-14 11:42] aabadie commented on #46
Thanks @A-Paul for running those tests. Looks good and release published, so I'll close this one.

[2017-07-14 11:42] #46 closed

[2017-10-16 14:06] haukepetersen opened #47 "Release 2017.10 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2017.10](https://github.com/RIOT-OS/RIOT/releases/tag/2017.10-RC1) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md) (@miri64)
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) (failed: `conn_can` (fixed), `gnrc_ipv6_nib_

[2017-10-17 10:12] miri64 commented on #47
Task 1 successful

[2017-10-17 15:34] smlng commented on #47
Task 5 semi successful, ping6 on `ff02::1`

- from samr21-xpro ✅, but 30% packet loss
- from remote 🚫, gets stuck after first ping

see [gist](https://gist.github.com/smlng/60643aff771b06b7c45c955809174221) for details

[2017-10-17 15:37] miri64 commented on #47
Since they are experimental I wouldn't say it is blocking for this release (however @haukepetersen has the last word on this), but could you maybe debug, what the problem is? For iotlab-m3 and samr21-xpro it works like a charm.

[2017-10-17 16:39] kYc0o commented on #47
Task 3 successful!! 😃

[2017-10-17 17:22] miri64 commented on #47
@kYc0o can you write somewhere down what you did, so other people than you can test this in the future as well? ;-)

[2017-10-17 17:32] smlng commented on #47
well if ping is not working on Zolertia remote (maybe no send at all) this would IMO be blocking. Will investigate ...

[2017-10-18 05:50] miri64 commented on #47
Task 1.1 failing / not completable. `pic32-wifire` fails randomly for some applications + even with 170 GB free disk space I run into a problem of a full disk at about 20 applications in (tried to avoid it by manually cleaning up afterwards, but it just takes to long so the disk ran full tonight as of `gnrc_udp`). Potential solution would be to clean build dirs directly after build. I don't want t

[2017-10-18 05:50] miri64 commented on #47
Could you at least provide an issue (if not already existent) to the mainline repository ;-).

[2017-10-18 06:05] miri64 commented on #47
`conn_can` fails for mysterious reasons. When building separately it works, but with `buildtest` many boards fail (and since https://github.com/RIOT-OS/RIOT/pull/7589 there is no error output anymore). Will investigate.

[2017-10-18 08:37] miri64 commented on #47
`buildtest` changes the environment so a certain lib (though I don't think it is required for non-native boards) can't be found. Will see, if I can fix.

[2017-10-18 08:42] vincent-d commented on #47
@miri64 after I saw you message, I tested it quickly. It can't fin `libsocketcan` which is required only for native, indeed. But it don't understand why `buildtest` adds it to the `LINKFLAGS` on non-native boards.

[2017-10-18 08:43] miri64 commented on #47
Analysed that: it is set in the environment when starting to build (reasons unclear) and the buildtests just take that environment.

[2017-10-18 10:14] miri64 commented on #47
The `pic32-clicker`/`pic32-wifire` (now after analyzing the problem I think both are affected, not just `pic32-wifire`) is caused by the following bug:

[code]

[2017-10-18 10:18] miri64 commented on #47
I will check if that is a regression of the various `pm` fixes in this release.

[2017-10-19 10:29] haukepetersen commented on #47
Have been running all the tests that are automatically runnable for 02-Tests. So far, the following findings need to be investigated (as they failed right away):
[code]

See https://gist.github.com/haukepetersen/39f77ce8db55959ff270e6fb2223b9f4 for more detailed results.
INFO: for the test run, I rebased the RC1 branch on https://github.com/RIOT-OS/RIOT/pull/7758 and https://github.com/RIOT-OS/RIO

[2017-10-19 11:08] miri64 commented on #47
Wouldn't cherry-picking those commits on top of RC1 make more sense? Otherwise changes from master might get into your tests.

[2017-10-19 11:21] haukepetersen commented on #47
Actually, that is what I did. Did just use the wrong wording, sorry.

[2017-10-19 11:22] haukepetersen commented on #47
Also, the run on the `iotlab-m3` finished: https://gist.github.com/haukepetersen/dabb8a8e8e2220705c36af67b4119e70

They look pretty similar to the other two boards...

[2017-10-19 11:27] haukepetersen commented on #47
added a list with open issues in the original issue description above. Feel free to take on items (by putting your name to them)

[2017-10-19 11:29] miri64 commented on #47
Current status of Task 1.1 (still running): `pkg_fatfs` is failing, but there is a fix: https://github.com/RIOT-OS/RIOT/pull/7765. `conn_can` is also failing, but the fix was already merged.

[2017-10-19 11:32] miri64 commented on #47
@haukepetersen for `tests/lwip`: How did you manage the two boards (which are required for that test)? I never got the pexpect script properly to run for non-native platforms.

[2017-10-19 11:36] kYc0o commented on #47
There are some tests that shouldn't be even build is it? Especially those about the drivers we know are not attached to the device natively.

This raises another question: how do we test device drivers which are not attached? Because as I see in the results they're of course failing.

Then I also see some test (like `driver_grove_ledbar`) which build and the test succeeds... (knowing that there's

[2017-10-19 11:48] haukepetersen commented on #47
I did not. All I did is to go into the `tests/lwip` folder and call `make all test`. So if there is more to this test than just that, it should be documented and the tests should behave nicely, e.g. `sorry, can't run, you need to boards...`. As it does neither, I call the test failed :-)

[2017-10-19 11:53] haukepetersen commented on #47
Nope, there is no reason why they should not run. All we expect in that case is that the test will stop in a defined state, e.g. quitting while telling us `no xxx device found` or similar.

No, they are not neccessarily failing. Failing IMHO means that they do something unexpected (or do nothing...). If a sensor is not present, the test should still run and end up in a defined state, which can be

[2017-10-19 12:19] kYc0o commented on #47
So what are we actually testing? The driver implementation? The interface with the board? The expected behaviour of the driver if everything is in place (e.g. device attached to the node)?

That might be true for some drivers which have no means to know if the device is actually there and if it's able to return error codes. But in reality we have much more drivers which can (and actually do) retur

[2017-10-19 12:21] smlng commented on #47
I re-tested task 5 and 6 of  _04-Single Hop 6LoWPAN ICMP_ with [fix](https://github.com/RIOT-OS/RIOT/pull/7762) for cc2538 applied. The test went trough, but have 30 to 50 % packet loss in both directions, goal is 10 % - so suboptimal results.

[2017-10-19 12:34] cladmi commented on #47
@miri64  I am trying `lwip/native`, and messages do not go from one node to another but I can manually send ip packets to the server using socat. With tcpdump I can see neighbor solicitation messages arrive on the tap interface but nothing goes to the other node interface. Do I need a specific configuration ?

[2017-10-19 12:43] cladmi commented on #47
Disabling tests for other boards in lwip https://github.com/RIOT-OS/RIOT/pull/7766

[2017-10-19 12:51] haukepetersen commented on #47
@kYc0o I see your point. But for know, my take is to go in small steps: first, lets try to make all tests terminate in a deterministic manner, e.g. sensor test aborts saying the sensor is not present and the test script for this takes this as passing the test. Once we have all tests in order, we need to a) execute many of them also on setups where they are applicable, and also go through all tests

[2017-10-19 13:51] cladmi commented on #47
Many of the tests are broken because the Makefiles do

[code]

And `make/serial.inc.mk` does not rewrite `TERMFLAGS` if it is empty, changed by: https://github.com/RIOT-OS/RIOT/commit/2739354

Not all tests have this `TERMFLAGS=`.

Where does this multiple `make term` happen ? Because I could remove this `TERMFLAGS=` if it is not needed, or replace it by `undef TERMFLAGS; ./test/01.py` and maybe a

[2017-10-19 14:11] kYc0o commented on #47
Oops, I performed a test and marked it as successful but the main message got modified. Can we take it back or is lost forever?

[2017-10-19 14:25] cladmi commented on #47
cbor/samr21-xpro: cbor_stream_decode is completely broken it makes CPU reboot for the default case, when re-ordering I get `HARD FAULT` or it cannot decode multiple arrays.
I will try to compare the buffer with native if it is only decode or the serialized data.

Also for the test, printf cannot handle `PRIu64` which is just printed `lu`. Is there a solution for this ?

[2017-10-19 14:39] gebart commented on #47
Regarding PRIu64, you need a newlib version built with long long support for printf. I think the arm gcc embedded toolchain is supposed to have this, not sure though.

[2017-10-19 16:29] kYc0o commented on #47
Spec 8 successfully completed.

[2017-10-19 17:20] cladmi commented on #47
To run tests on samr21, testrunner needs to wait that `make term` is started to run `make reset`. https://github.com/RIOT-OS/RIOT/pull/7769

Some more tests are working with this.

[2017-10-19 20:16] miri64 commented on #47
Task 1.1 finally finished. Noted down the tests that failed (apart from the pic32 issue) above. For most issues PR already exist and some are even merged already. Only issue remaining is the `mcuboot` thing. @kYc0o can you have a look?

[2017-10-20 13:12] kYc0o commented on #47
@miri64 Can you copy/paste here or somewhere what fails?

[2017-10-20 13:47] miri64 commented on #47
@kYc0o

[code]

[2017-10-20 13:47] miri64 commented on #47
Found no doc on that dependency, installing `python-crypto` did not solve that.

[2017-10-20 13:52] miri64 commented on #47
I was unable to confirm that. Were your TAP interfaces set-up properly (I think it is fair to assume a test server would do that once at start-up and not has to do it for every test)?

[2017-10-20 13:53] miri64 commented on #47
[code]

[2017-10-20 14:24] cladmi commented on #47
For samr21-xpro, I tested the 'failed' tests. I needed to add the testrunner commit to wait for make term to be started. Then more of them passed.

* unittests: does not compile because not everything fits into ROM/RAM.

### Broken but easy fixes

* lwip: test only works on native: https://github.com/RIOT-OS/RIOT/pull/7766
* thread_flood: python test is not upgraded to testrunner so does not do 'm

[2017-10-20 14:30] cladmi commented on #47
If it could be simply detected, it would be good to check it is configured before running test or print an error.

[2017-10-20 14:37] miri64 commented on #47
See https://github.com/haukepetersen/riotsandbox/pull/1

[2017-10-20 14:38] miri64 commented on #47
(also: it is. If you don't have a tap `make term` will error on execution (which will also be an error with `make test`). If the tap is connected via a bridge is not easily (portable) testable.

[2017-10-20 14:55] miri64 commented on #47
They are failing because the device is not connected. (How) can one check for this in code?

[2017-10-20 15:04] kYc0o commented on #47
See [comment](https://github.com/RIOT-OS/Release-Specs/issues/47#issuecomment-337890193).

[2017-10-20 15:37] miri64 commented on #47
This does not really answer my question... I know that the device needs to be their and from what I know of the future test system you can actually say that it is provided, but there need to be some safe-state if it is not so that "uninformed" testers running the test locally don't start complaining "hey this test isn't working so it must be broken" (which IMHO it is if there is no safe-state, but

[2017-10-23 00:53] A-Paul opened #48 "02-tests/task 01 Release 2017.10 - RC1"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [ ] buttons **not blacklisted**
- [x] cbor **success**
- [ ] conn_can
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [ ] driver_apa102 **not blacklisted**
- [ ] driver_dht **not blacklisted**
- [ ] driver_grove_ledbar **false positive** **not blacklisted**
- [ ] driver_lpd

[2017-10-23 01:42] A-Paul commented on #48
I'm using a script that skips tests which are not for *native* (``make info-boards-supported`` contains *native*). Additional to earlier release tests I also listed tests which should be blacklisted but claim to be runnable on *native*.

[2017-10-23 01:46] A-Paul commented on #48
All performed tests have a checkmark and are either success failed (with short comment) or have an unclear result (at least for me).

[2017-10-23 01:52] A-Paul commented on #47
I did the tests on native in the old fashioned way. Almost all succeded. I made some comments in the issue I have created.

[2017-10-23 12:40] miri64 commented on #47
Also: testing if the initialization is working properly in an error case is also a valid test ;-)

[2017-10-23 13:07] miri64 commented on #47
Fixed in https://github.com/RIOT-OS/RIOT/pull/7788

[2017-10-23 15:35] A-Paul commented on #48
Corrected some fake failures by installing needed libraries and reading the inleine doc.
Issues created for *posix_semaphore*(https://github.com/RIOT-OS/RIOT/issues/7792) and *pkg_fatfs*(https://github.com/RIOT-OS/RIOT/issues/7795)

[2017-10-24 08:24] miri64 commented on #47
Any reason why my multihop results were reseted?

[2017-10-24 08:30] cgundogan commented on #47
damn this GitHub checkmarks. I started doing them, because they were not checked :/ I will skip them now.

[2017-10-24 10:02] haukepetersen commented on #47
To prevent any further hickups while editing the issue above, please use from now on the following google document for tracking:
https://docs.google.com/spreadsheets/d/1CT21QQCwU-zsjmic1E19BnkchnmAYE0neIdL0AYJq9Y/edit#gid=0

[2017-10-25 14:30] haukepetersen commented on #47
Thanks everyone, seems to me like everything is covered. Moving on to RC2!

[2017-10-25 14:30] #47 closed

[2017-10-25 14:34] haukepetersen opened #49 "Release 2017.10 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2017.10](https://github.com/RIOT-OS/RIOT/releases/tag/2017.10-RC2) release.

**NOTE**
[Please report all findings to this table](https://docs.google.com/spreadsheets/d/1CT21QQCwU-zsjmic1E19BnkchnmAYE0neIdL0AYJq9Y/edit#gid=0)
**NOTE**

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/0

[2017-10-25 16:37] A-Paul commented on #48
All failed tests (#7792, #7795) are fixed and backported.
Close.

[2017-10-25 16:37] #48 closed

[2017-10-25 17:48] miri64 commented on #49
How do we note down who is testing what? Our old approach (putting it into the description) lead to problems in RC1. For now I do it the way we used to, because I hope I'm careful enough to not overwrite collisions accidentally ;-).

[2017-10-26 02:24] A-Paul opened #50 "02-tests/task 01 Release 2017.10 - RC2"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [ ] buttons **not blacklisted**
- [x] cbor **success**
- [ ] conn_can
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [ ] driver_apa102 **not blacklisted**
- [ ] driver_dht **not blacklisted**
- [ ] driver_grove_ledbar **false positive** **not blacklisted**
- [ ] driver_lpd

[2017-10-26 02:28] A-Paul commented on #50
Incorrect blacklisted tests are marked the same way as in https://github.com/RIOT-OS/Release-Specs/issues/48.
All performed tests succeeded.

[2017-10-26 02:39] A-Paul commented on #49
The errors from RC1 are fixed. All performed tests *02-tests Task 01* were successful.

[2017-10-26 07:56] haukepetersen commented on #49
@A-Paul thanks!

@miri64 lets note this our names in this list as usual, but only names and tick-marks. If we make sure, that we keep the time editing (press edit, enter name, press save) to a minium, we should be good. Also everyone should re-check after some minutes to make sure that entries still exist... For bugs/issues/todos we keep using the google spreadsheet.

[2017-10-26 08:04] haukepetersen commented on #49
Just looked through everything that was merged since RC1: we only touched
- multiple tests
- the cc2536/cc26x0
- cbor (knwon issue)
- fatfs pkg
- ds1307 driver

IMHO we mainly need to re-test everything regarding these modules (mainly task 02). But I don't see the need to do ALL tests again, and would suggest that we only do some quick 'probing' for all tasks > 2. Do you all agree with this approa

[2017-10-26 08:04] cgundogan commented on #49
to add to @haukepetersen's important notes:
reload the page **beore** doing tick marks. Each marking is an **edit** in the sense and overrides previous states probably made by others.

[2017-10-26 08:05] haukepetersen commented on #49
@cgundogan yes absolutely, thanks!

[2017-10-26 08:07] haukepetersen commented on #49
@smlng: would you mind to 'play' with the cc2536 and the cc26x0 using RC2 a little bit to confirm them working?
@miri64: could you confirm the ds1307 once more?
@A-Paul: when you re-did task 02.01, you also verified that the fatfs pkg is working, correct?

[2017-10-26 08:09] cgundogan commented on #49
I agree. I will do some probing for the multi hop tests, but I don't expect any changes from the previous results.

[2017-10-26 08:11] haukepetersen commented on #50
By the way, I'd say that some tests (e.g. the driver_xx ones) are not really false positives or incorrect blacklisted. Running the test without a connected device, checking for the correct error output (as in no device found etc), is also a valid test run. But I agree, that this is only one small aspect of the test...

[2017-10-26 08:12] haukepetersen commented on #49
Nice. Any changes from the previous results would indeed be very strange :-)

[2017-10-26 08:16] smlng commented on #49
Yes, will do!

[2017-10-26 08:37] smlng commented on #49
Task 04.05 and 04.06 succeeded as before, however packet loss is still above the desired boundaries. That is, for ping payload above 50B its mostly 30 to 50 % loss with smaller payloads sometimes < 10% but often more like 25%.

This needs further investigation on the cause, i.e. board, driver, or transceiver related or something general.

[2017-10-26 08:37] smlng commented on #49
cc2650 is working, too.

[2017-10-26 08:47] haukepetersen commented on #49
@smlng: thanks! I propose to take this as a known issue into the release. Is there already an open issue for this?

[2017-10-26 08:49] smlng commented on #49
I just tested the tasks with samr21-xpro and PhyNode (pba-d-01-kw2x) and discovered that pings with payloads below 100B work, even with better results regarding packet loss than the remotes (so this might be board related). But starting from 100B nothing gets through, while this worked with the remotes though with high packet loss. This seems to be related to the PhyNode.

[2017-10-26 08:53] haukepetersen commented on #49
If I remember correctly, there were fragmentation issues with the phynode knwon some time ago. I have no overview how that turned out, @miri64 do you know something here?

[2017-10-26 08:58] miri64 commented on #49
Yes, this is still an issue https://github.com/RIOT-OS/RIOT/issues/4822

[2017-10-26 09:04] smlng commented on #49
Fragmentation is also an issue for CC2538 (where pings work, but with higher packet loss) and 100B payload should still fit in one, or not?

[2017-10-26 09:10] miri64 commented on #49
No, I don't think so. It depends a little bit on how the cc2538 driver advertises its MAC header length to the upper layer but e.g. for `at86rf2xx` the switch-over point is at 96B (or even lower) IIRC. There it just advertises the maximum *possible* MAC payload (without security information), so with both 8 byte addresses, both 2 byte PAN IDs a 2 byte FCF and a 2 byte FCS you get only 112B out of

[2017-10-26 09:18] smlng commented on #49
😕  112/8 = 14?

[2017-10-26 09:21] miri64 commented on #49
How did I get to 112...? I think I meant 102 ... But even that is wrong: 127 - 2 * 8 - 2 * 2 - 2 - 2 = 103. So 103 was meant ;-).

[2017-10-26 09:27] miri64 commented on #49
(Also: you can check that your self by incrementing the payload size slowly and sniffing the packets, if it starts to be 6Lo fragmentation packets the threshold is reached ;-))

[2017-10-26 09:40] aabadie commented on #49
04-task7 and 04-task8, done with respectively 0.8% and 0.7% packet loss. I also confirm that the XBee gets a global prefix from a RPI + OpenLabs.

[2017-10-26 09:41] haukepetersen commented on #49
perfect.

Tasks 02 is also done.

[2017-10-26 09:47] miri64 commented on #49
Since despite me believing so https://github.com/RIOT-OS/RIOT/pull/7750 wasn't merged into the release Task 1.1 failed due to a full disk. I run it now on a different machine in the background with 7750 cherry-picked, but the results will most likely only be there in the evening.

[2017-10-26 10:19] miri64 commented on #50
what is meant by e.g.

That it doesn't work or that you skipped the test? Because Task 2.1 is

[2017-10-26 10:43] miri64 commented on #49
@aabadie I think you destroyed the post above right now....

[2017-10-26 10:49] aabadie commented on #49
how ?

[2017-10-26 11:02] miri64 commented on #49
Well propably not by reloading before editing. I had a lot of ticked tests than reloaded and they disappeared after an edit of yours ;-)

[2017-10-26 11:03] miri64 commented on #49
(including my taking of the tests)

[2017-10-26 11:03] miri64 commented on #49
How exactly to manage circumventing the warning that the content had changed I don't know ;-)

[2017-10-26 11:05] aabadie commented on #49
Ah, ok I see, sorry. One solution is to replay your tests ;)

[2017-10-26 11:12] miri64 commented on #49
For tests that run >1h that is not acceptable :P

[2017-10-26 12:01] cgundogan commented on #49
@miri64 your last tick removed my ticks 😩

[2017-10-26 12:02] miri64 commented on #49
gnarf I reloaded before :(

[2017-10-26 12:02] miri64 commented on #49
Sorry

[2017-10-26 12:41] aabadie commented on #49
04-task1, 04-task2, 04-task3 and 04-task4 are done (clearly less than 1% packet loss)

[2017-10-26 14:14] A-Paul commented on #49
Every checkmark in https://github.com/RIOT-OS/Release-Specs/issues/50 is full repeated test, based on the new RC2 branch. So, yes.
To prevent further uncertainties I've added a comment.

[2017-10-26 23:20] miri64 commented on #49
Sorry saw that only now :-/ Will do tomorrow!

[2017-10-27 08:26] cgundogan commented on #49
Multi-hop and single-hop tests are all good. I encountered a bug in the trickle implementation (for RPL), but it's fixed and merged/backported already.

[2017-10-27 08:26] haukepetersen commented on #49
Thanks everyone! As I see it, we should be good with testing RC2, and I'd say we are very close to getting the release out. As soon as https://github.com/RIOT-OS/RIOT/pull/7874 is merged I would like to go ahead and tag the release. Any objections?

[2017-10-27 08:28] cgundogan commented on #49
no objection from my side!

[2017-10-27 10:33] haukepetersen commented on #49
Release is out -> done.

[2017-10-27 10:33] #49 closed

[2017-10-27 10:34] haukepetersen commented on #50
Release is out -> done.

[2017-10-27 10:34] #50 closed

[2017-10-27 10:39] miri64 opened #51 "New release specs: Router vs Host configurations"
Router and host configurations differ in IPv6 NDP with regards to their behavior. In my opinion this should also be reflected in the release specs. Opinions on that?

[2017-10-27 11:39] smlng commented on #51
Would be great if we can use Wireshark/libpcap dumps for (auto) verification of the behaviour. The idea would be to setup certain scenarios like:

- native <-> native, sniffer on tap-bridge
- SAMR21-XPRO <-> SAMR21-XPRO, sniffer on RasPi or 3rd SAMR21-XPRO
- SAMR21-XPRO <- > RasPi, sniffer on RasPi or 2nd SAMR21-XPRO

and afterwards we have a script that checks the capture-file against a predefine

[2017-10-27 15:02] miri64 opened #53 "Task 6: Questionable test parameters"
When testing for the last release I wondered why [UDP over 6LoWPAN has less error margin (<5%)](https://github.com/RIOT-OS/Release-Specs/blob/master/06-single-hop-udp/06-single-hop-udp.md) than [ICMPv6 over 6LoWPAN (<10%)](https://github.com/RIOT-OS/Release-Specs/blob/master/04-single-hop-6lowpan-icmp/04-single-hop-6lowpan-icmp.md). Especially since Task 6 asks for way harder to deliver 1kB, while

[2017-10-27 15:09] miri64 opened #54 "Task 7: arbitrary error margin?"
Why does Task 7 ask for a success rate of <10% for UDP packets but a success rate of <20% for ICMPv6 packets? What -- in the author's mind -- made UDP (uses 8 byte header, has checksum, might be header compressed) more successful at delivering packets than ICMPv6 (uses 8 byte header, has checksum, is not header compressed). Just the fact that one is compressed and the other not?

[2017-10-30 08:45] cgundogan commented on #54
That's simple: Ping requires a Pong, the UDP is measured only one-way. But we should definitely change the wording, because every test says *XX packets lost on the __pinging__ node.*

[2018-01-19 09:45] smlng opened #55 "Release 2018.01 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2018.01](https://github.com/RIOT-OS/RIOT/releases/tag/2018.01-RC1) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) @smlng
  - [x] [Task 02](https://github.com/RIOT-OS/Re

[2018-01-22 09:37] PeterKietzmann commented on #55
Reminder to myself: 05-Task 1 descriptions needs adaption

[2018-01-22 11:13] miri64 commented on #55
@PeterKietzmann see https://github.com/RIOT-OS/Release-Specs/pull/56

[2018-01-22 12:43] miri64 commented on #55
Tested 05-Task 1. It works (when compiled with `-DGNRC_NETIF_IPV6_GROUPS_NUMOF=5`), but with the changes in NIB it is a little bit non-sensical now: Since `ifconfig add` doesn't allow for setting the flags of the prefix (and shouldn't IMHO) and since the interface is a non 6Lo interface, the prefix is marked on link. This causes the NIB to look-up beef::1 in the neighbor cache (which is completely

[2018-01-22 13:17] PeterKietzmann commented on #55
I don't completely understand your explanation (I'm no NDP expert and wasn't involved in either the NIB or NDP rework).
- who/which instance sets the prefix flags now and why is it different now than before?
- IMO `-DGNRC_NETIF_IPV6_GROUPS_NUMOF=5` should at least go in the experiment description, if it is necessary
- I think we should try to reflect what was intended with this test before. I don'

[2018-01-22 13:27] miri64 commented on #55
The "admin" (in this case the user, using `ifconfig add` :wink:), as to why it is different than before: because the look-up sequence was way more complicated before (looking in the FIB, nope, looking in the NC, nope, looking in the FIB again...). Now this is way more stream-lined (looking if address could be neighbor, nope, looking in the FIB).

If router advertisements are deactivated as propose

[2018-01-23 08:25] smlng commented on #55
Task 01.01 is not fully successful, there is  a linker error in `tests/pkg_fatfs_vfs` see https://github.com/RIOT-OS/RIOT/issues/8408 - curios why Murdock didn't report that.

[2018-01-23 13:39] miri64 commented on #55
Well.... Why is `DEVELHELP` activated for the unittests anyway?

[2018-01-23 13:41] smlng commented on #55
was discussed and enabled in https://github.com/RIOT-OS/RIOT/pull/8080

[2018-01-23 13:44] miri64 commented on #55
The problem with that is, that the unittests are using mock values. So that particular assert checks, if a message queue is set for a thread that doesn't even exist... I rather would keep it this way, because this way the unittests can test corner cases (what they are supposed to do).

[2018-01-25 09:22] PeterKietzmann commented on #55
@miri64 can you give me step-by-step guidance how you tested task-05? What did you configure on both instances? I'm not able to reproduce what I intended...

[2018-01-25 11:23] miri64 commented on #55
You asked for step-by-step :stuck_out_tongue_winking_eye:

# Preperation

Merge https://github.com/RIOT-OS/RIOT/pull/8393 into RC1:

[code]

# Task 5.1

Compile `examples/gnrc_networking` for native and set-up TAP bridge (if not done already)

[code]

Start 2 native instances (called A and B in the following):

[code]

Within A:

[code]

Within B:

[code]

Within A again

[code]

# Task 5.2
Compil

[2018-01-25 14:03] smlng commented on #55
@aabadie I also checked https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-04 and can confirm your finding. However it seems the failed assertion is caused by wrong ordering of preprocessor if-else, fix is in https://github.com/RIOT-OS/RIOT/pull/8439.

I also found that `unittests/tests-littlefs` fails on pba-d-01-kw2x and samr21-xpro with:

[code]

[2018-01-25 14:20] miri64 commented on #55
They are not wrongly ordered and your fix can cause false negative assertions, e.g. with `gnrc_sock`.

[2018-01-25 16:58] smlng commented on #55
task 04-06 fails with packet loss of 20 - 30 %in either direction

[2018-01-25 18:06] miri64 commented on #55
For task05 I did not encounter that. Neither for Ethernet nor for IEEE 802.15.4 oO

[2018-01-25 18:40] A-Paul opened #57 "02-tests/task 01 Release 2018.01 - RC1"
- [x] bitarithm_timings **success**
- [x] bloom_bytes **success**
- [x] buttons **success**
- [ ] can_trx
- [x] cbor **success**
- [ ] conn_can
- [x] cpp11_condition_variable **success**
- [x] cpp11_mutex **success**
- [x] cpp11_thread **success**
- [x] driver_apa102
- [x] driver_dht
- [x] driver_grove_ledbar
- [x] driver_lpd8808 **not blacklisted, hangs**
- [x] driver_my9221 **not blacklisted, ke

[2018-01-25 20:35] miri64 commented on #55
Ah. Well they *are* marked as experimental, though it might be worth investigating for the next release why fragmentation causes a lower PDR for the cc2538.

[2018-01-26 12:59] smlng commented on #55
for 01-ci, task 04 only `tests-littlefs` constantly fails, the netreg tests succeeds with DEVELHELP=0

[2018-01-28 17:43] smlng opened #58 "Release 2018.01 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2018.01](https://github.com/RIOT-OS/RIOT/releases/tag/2018.01-RC2) release.

Specs tested:
- [x] [01-CI](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md)
  - [x] [Task 01](https://github.com/RIOT-OS/Release-Specs/blob/master/01-ci/01-ci.md#task-01) @smlng
  - [x] [Task 02](https://github.com/RIOT-OS/Re

[2018-01-29 07:49] miri64 commented on #58
Yes, just wanted to make sure that it is clear that this is done as usual ;-)

[2018-01-29 12:40] miri64 commented on #58
For Task 5.1 and Task 5.3 the scope of the source address is not specified. This is why in the past I always did it that way (because this case should also be tested and work because it is single hop).

[2018-01-29 12:41] miri64 commented on #58
But maybe, if we interpret the task description differently the description needs a more specific update ;-)

[2018-01-29 12:51] PeterKietzmann commented on #58
Yes. That's what I wanted to come on to.

I don't know what (exactly) was intended to test here (that's why I asked you). But how about we either change task 1 or 3 (which are similar) or create a fourth task to cover both situations?

[2018-01-29 12:56] miri64 commented on #58
Tasks 5.1-4 are succeeding, however I get duplicate packets in 5.2 and 5.4. Maybe this is related to https://github.com/RIOT-OS/RIOT/issues/8457 somehow... I investigate.

[2018-01-29 13:05] PeterKietzmann commented on #58
I am a bit confused.
- Which task is 5.4?
- How did you see  the duplicate packets in task 5.2?
- If you used `gnrc_networking`, this is not based on `sock` right`? So maybe not related to above linked issue/PR?

[2018-01-29 13:06] miri64 commented on #58
Corrected the task number, so most of your confusion should now be lifted ;-).

Well the issue is about #8457 so the duplication might lead to a problem there.

[2018-01-29 13:07] miri64 commented on #58
I don't think Task 1 and 3 are similar enough to throw them in one bowl, so yes a fourth task would be better suited.

[2018-01-30 09:50] PeterKietzmann commented on #58
So how about adding it in #56?

[2018-01-30 10:05] miri64 commented on #58
I'd rather put it in a separate PR, since they don't seem related.

[2018-01-30 10:42] smlng opened #59 "02-tests/task 01 Release 2018.01 - R2"
First checkbox marks a tests as run. Second (sub) checkbox indicates success, please add comment on failure.

- [x] **bitarithm_timings**
  - [x] success?
- [x] **bloom_bytes**
  - [x] success?
- [x] ~~**board_calliope-mini**~~
  - [ ] success? does not work with native
- [x] ~~**board_microbit**~~
  - [ ] success? does not work with native
- [x] **buttons**
  - [ ] success? native has no buttons

[2018-01-30 11:21] smlng commented on #59
`tests/driver_xbee` failes on native as expected, with:

[code]

[2018-01-30 14:49] smlng commented on #59
`tests/mutex_order` fails with:

[code]

[2018-01-30 15:03] smlng commented on #59
`tests/netdev_test` fails when DEVELHELP=1 (hence might be expected @miri64 ?) with

[code]

but succeeds with DEVELHELP=0

[2018-01-30 15:11] smlng commented on #59
`tests/periph_rtc` fails, as it does not fire alarm 4x every 2s as expected

[2018-01-30 15:35] smlng commented on #59
`tests/posix_semaphore` runs on Linux, but fails on macOS with:

[code]

[2018-01-30 15:43] smlng commented on #59
`tests/pthread_rwlock` works on Linux, but fails macOS, i.e. exits after second thread finished

[2018-01-30 15:45] smlng commented on #59
`tests/rmutex` works on Linux, but fails on macOS, i.e. stops/exists after T4

[2018-01-30 15:55] smlng commented on #59
`tests/thread_cooperations` works on Linux, but fails on macOS, i.e., exists before completion

[2018-01-30 15:57] smlng commented on #59
same for `tests/thread_exit`

[2018-01-30 15:58] smlng commented on #59
`tests/threag_flags` works on Linux, but fails on macOS with slightly too high delay

[2018-01-30 16:01] smlng commented on #59
`tests/thread_msg_seq` works on Linux, but fails on macOS, i.e., exists before completion

[2018-01-30 16:05] smlng commented on #59
`tests/xtimer_drift` fails on Linux after some time, and on macOS, too. But, on macOS very quickly (<20s) and with higher drift and jitter.

[2018-01-30 17:57] miri64 commented on #59
@smlng can you please open issues in the RIOT repository for your findings? I'm already starting to loose track.

[2018-01-30 17:58] miri64 commented on #59
If you run `native` on Raspberry Pi you can expose its UART to use xbee.

[2018-01-30 18:04] miri64 commented on #59
The whole point of this test is to test the `netdev_test` framework, so having assertions about the device it might not fulfill is bad, so yes.

[2018-01-30 18:13] miri64 commented on #59
Regarding the other tests: I'm not sure they ever were run on MacOS... But it might be a hint that the RIOT scheduler backend for native on MacOS is broken.

[2018-01-30 18:14] miri64 commented on #59
See https://github.com/RIOT-OS/RIOT/pull/8485

[2018-01-30 18:42] jia200x commented on #59
Maybe related to [RIOT-OS/RIOT#6442](https://github.com/RIOT-OS/RIOT/issues/6442)

[2018-01-30 18:57] cladmi commented on #59
`tests/periph_rtc`: fails for good reason, 'rtc_set_time: not implemented'
`tests/mutex_order`: works for me on Linux.

[2018-01-30 19:12] smlng commented on #59
@cladmi yeah saw that too

[2018-01-30 20:23] PeterKietzmann commented on #58
I created #60 to extend Task 05. As soon as this is merged, I will adapt the above checklist and confirm successful tests.

[2018-01-30 20:43] kYc0o commented on #58
04-Task07 succeeds with #8490

[2018-01-30 21:05] kYc0o commented on #58
Task 8 succeeds with:

[code]

And task 7:

[code]

[2018-01-30 21:45] PeterKietzmann commented on #58
BTW:  All tests in `05-Single Hop Route` succeed.

[2018-01-31 09:23] smlng commented on #59
done

[2018-01-31 09:23] #59 closed

[2018-01-31 09:24] smlng commented on #55
outdated by RC2 in #58

[2018-01-31 09:24] #55 closed

[2018-01-31 09:24] smlng commented on #57
outdated by #59

[2018-01-31 09:24] #57 closed

[2018-01-31 12:25] kYc0o commented on #58
08-Task 3 succeed:

[code]

On Contiki side:
[code]

[2018-01-31 12:27] smlng commented on #58
@kYc0o thanks for tackling contiki 👍 😉

[2018-01-31 12:28] kYc0o commented on #58
It was done yesterday but I just realised I didn't push the button 😅

[2018-01-31 12:29] PeterKietzmann commented on #58
@kYc0o can you provide a short description how you tested against contiki? In detail I just want to know which hardware, which application, which branch/commit you used and if there are special commands or settings need to be applied.

[2018-01-31 12:30] PeterKietzmann commented on #58
PS: If you just put some keywords here I'm fine.

[2018-01-31 13:06] kYc0o commented on #58
Yes sure.

I used the cc2538dk on contiki side, and samr21-xpro on RIOT side (though the task requires a iotlab-m3, but I had a lot of problems yesterday with my hardware).

The example I tested is located at examples/cc2538dk/udp-ipv6-echo-server, on the current master branch of upstream contiki repo.

The "special" things to be applied are:

1. Disable RIME, set project-conf.h configuration file

[2018-01-31 13:53] miri64 commented on #58
Isn't task 8.3 about exchanging ICMPv6 packets? Oo

[2018-02-02 12:09] kYc0o commented on #58
Yes it is, and that's what was done. I just wanted to point out that UDP exchanges with contiki based nodes is also possible.

[2018-02-02 14:17] miri64 commented on #58
Ah okay, then I misunderstood your last sentence :-).

[2018-04-17 19:06] kaspar030 opened #61 "Release 2018.04 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2018.04](https://github.com/RIOT-OS/RIOT/releases/tag/2018.04-RC1) release.

Specs tested:
- [ ] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/1edc542c4e50e1c582d3cd437c6655050eabd6cf/01-ci/01-ci.md)
  - [ ] [Task #01](https://github.com/RIOT-OS/Release-Specs/blob/1edc542c4e50e1c582d3cd437c6655050eabd6cf/01-ci/01-

[2018-04-18 15:37] #58 closed

[2018-04-23 08:27] kaspar030 opened #62 "Release 2018.04 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2018.04](https://github.com/RIOT-OS/RIOT/releases/tag/2018.04-RC2) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/1edc542c4e50e1c582d3cd437c6655050eabd6cf/01-ci/01-ci.md)
  - [x] [Task #01](https://github.com/RIOT-OS/Release-Specs/blob/1edc542c4e50e1c582d3cd437c6655050eabd6cf/01-ci/01-

[2018-04-23 08:27] kaspar030 commented on #61
Closing in favor of #62

[2018-04-23 08:27] #61 closed

[2018-04-24 07:57] kaspar030 commented on #62
FYI, nightly build results are [here](https://ci.riot-os.org/RIOT-OS/RIOT/2018.04-branch/latest/output.html).

The changes to -RC1 are quite minimal (arduino and gcoap related only). What do you think, can we re-use the tests that were done (mostly by @aabadie) in #61 for -RC1? How did we handle that for the last releases?

[2018-04-25 17:13] cladmi commented on #62
I am testing all tests that have `TESTS_ON_CI_WHITELIST`

The most important problem for the moment is that `unittests` fail for `iotlab-m3` and `iotlab-a8-m3` in the `tests-qDSA`I get a hardfault in the `keypair` function.

`wsn430` have errors too, some tests to fix and also other broken things. I will do a more detailed report.

[2018-04-26 08:14] kaspar030 commented on #62
Can you try removing the LARGE_STACK_TESTS avr condition (so tests-qDSA is always "large stack")?

[2018-04-26 12:37] cladmi commented on #62
I was testing them with all tests included so should already have been a `LARGE_STACK_TESTS`.
It is still broken with the following:

[code]

I will do the test report, a few fix PRs and I can start investigating.

[2018-04-26 13:01] cladmi commented on #62
I ran test on tests/directory that are supported, with enough memory, and had the 'TEST_ON_CI_WHITELIST' tag.
I did run on wsn430-v1_4, iotlab-m3, and iotlab-a8-m3.
I was not using @kYc0o PR to add TEST_ON_CI_WHITELIST on other tests yet. It can be a next step to test more cases.

### Tests fixed on wsn430:

 * sizeof_tcb: needed different size as 16bit
 * mutex_unlock_and_sleep: increase timeout

[2018-04-26 13:06] kaspar030 commented on #62
That doesn't look very good. I guess msp430 needs quite some work overall...

[2018-04-26 15:01] cladmi commented on #62
I put the PRs for wsn430 in the release milestone https://github.com/RIOT-OS/RIOT/milestone/22

[2018-05-02 13:00] kaspar030 commented on #62
I'm starting with the 05- tests on native now.

[2018-05-02 13:02] kYc0o commented on #62
I'm on 6.

[2018-05-02 14:04] kYc0o commented on #62
I'm on 7.

[2018-05-02 14:28] kaspar030 opened #63 "05-single-hop-route needs special compile flags"
All native tests in 05-single-hop-route fail as RIOT has too little default space for multicast groups.
See https://github.com/RIOT-OS/RIOT/issues/9061.

[2018-05-02 14:36] kaspar030 commented on #62
05- on native had some problems, see #63 and https://github.com/RIOT-OS/RIOT/issues/9061.

[2018-05-03 12:51] kYc0o commented on #62
I'm struggling a lot with the RPL tests. I don't have a real clue what might be wrong, but then, should we stop the release until the problem is found?

[2018-05-03 13:16] kYc0o commented on #62
For info, it seems broken since the last release. I'm having good results with 2017.10 with the same set of nodes and the same tests. The RPL graph also seems to be the same, but I'm not 100% sure.

[2018-05-03 14:01] kaspar030 commented on #62
Can you elaborate what does not work? Maybe you're hitting a similar problem as in 05- on native. Try adding ```CFLAGS += -DGNRC_NETIF_IPV6_GROUPS_NUMOF=8``` to the Makefile.

[2018-05-03 16:38] kYc0o commented on #62
Single hop routes work sometimes, more than one hop it definitely doesn't work.

I'm almost sure that's not the problem but I'll try and report back.

[2018-05-03 17:06] kYc0o commented on #62
Just tested, the (unsuccessful) result is the same.

[2018-05-04 08:11] cladmi commented on #62
My tests failing only on iotlab-a8-m3 where an issue in my test runner (https://github.com/RIOT-OS/RIOT/pull/9011#issuecomment-386370556). They are now just failing on the same as m3 nodes.

[2018-05-04 11:28] miri64 commented on #62
@kYc0o can you test with https://github.com/RIOT-OS/RIOT/pull/9073. Also make sure both the NIB off-link store (`GNRC_IPV6_NIB_OFFL_NUMOF`, for route destinations) and NIB on-link store (`GNRC_IPV6_NIB_NUMOF`, for route next-hops) is sufficiently large. For RPL to work properly `GNRC_IPV6_NIB_OFFL_NUMOF` should be at least `#nodes+1`.

[2018-05-04 11:32] aabadie commented on #62
Tasks 4.7 and 4.8 are marked failed but I re-ran them on iotlab and got:
- 4.7: `1000 packets transmitted, 973 received, 3% packet loss, time 291.06369993 s`
- 4.8: `1000 packets transmitted, 992 received, 1% packet loss, time 441.06100079 s`

So they pass. Who tested them ?
I'm using the following command lines on the Arduino Zero node:

- for 4.7:
[code]

- for 4.8:
[code]

[2018-05-04 13:01] bergzand commented on #62
@miri64 I've tested a bit with 3 native instances (gnrc_networking) in a chain-like topology. Traffic between tap0 and tap2 is dropped to simulate a topology where node0 and node2 can communicate with node1, but node0 and node2 can't communicate.

Pinging between node0 and node2 doesn't work with both RPL and manual routing. What I observe is that when pinging from node0 to node2 is that node0 sta

[2018-05-04 14:35] miri64 commented on #62
@bergzand I analized this with a debugger. Problem is, that routers in Ethernet configuration (IMHO correctly because we usually don't have a weird "mesh wants to share a prefix multihop"-situation there) advertise prefixes they configured as on-link using the L-flag in the [PIO](https://tools.ietf.org/html/rfc4861#section-4.6.2) (this happens [here](https://github.com/RIOT-OS/RIOT/blob/master/sys

[2018-05-04 14:36] miri64 commented on #62
So won't fix, when it comes to that ;-).

[2018-05-04 14:42] cgundogan commented on #62
Then we should say that we do not support multi-hop in native anymore, be it with RPL or not? It at least worked in previous RIOT versions so we are dropping that feature (for now)?

[2018-05-04 14:45] miri64 commented on #62
we support Multihop in native. Just not multihop prefix delegation. And that afaik was the case before as well and if not it was most definitely acting erroneously (so it was a bug, not a feature :P).

[2018-05-07 08:58] kaspar030 commented on #62
I've lost track. Can someone sum up what's the state with RPL and multihop regarding the release?

[2018-05-07 09:25] kYc0o commented on #62
The two of RPL tests passed successfully. It was a matter of configuration since the max nib entries was too small for my experiment. Moreover, since the topology was a bit dense and maybe noisy some of the DAOs were lost during initialisation, therefore I decreased the DAOs send interval. Also Martine's #9073 helped to keep a coherent nib for that small interval (10 secs).

[2018-05-07 10:37] kYc0o commented on #62
For some strange reason, in the tag 2018.04-RC2 I have the following

[code]

And on branch 2018.04-devel

[code]

That's why my tests failed.

[2018-05-07 13:52] kaspar030 commented on #62
So RPL basically works, but with the default settings, only with up to 8 nodes?

[2018-05-07 13:58] kYc0o commented on #62
Exactly, the maximum number of neighbours is defined as:

`sys/include/net/gnrc/ipv6/nib/conf.h:#define GNRC_IPV6_NIB_OFFL_NUMOF            (8)`

[2018-05-07 15:08] kaspar030 commented on #62
Ok, apart from that, we're missing:

- 02.01 run *all* tests on native. CI runs only the simple ones.
- 02.02 run *some* tests != 02.03 on iotlab-m3
- 05.02
- 07.01
- 07.02
- 08

gogogo! ;)

[2018-05-08 07:38] kaspar030 commented on #62
That's fixed now, see [master](https://ci.riot-os.org/RIOT-OS/RIOT/master/latest/output.html) or [2018.04-branch](https://ci.riot-os.org/RIOT-OS/RIOT/2018.04-branch/latest/output.html).

[2018-05-08 14:28] cladmi commented on #62
For task 2, I added https://github.com/RIOT-OS/RIOT/pull/9007 to enable more `TEST_ON_CI_WHITELIST`.

I re-ran all tests in tests/directory that are supported, with enough memory, and had the 'TEST_ON_CI_WHITELIST' tag (even 'native').
I did run on wsn430-v1_4, iotlab-m3, and iotlab-a8-m3, samr21-xpro, arduino-zero using IoT-LAB.
`wsn430-v1_4` results where the same as before. I have the following

[2018-05-09 13:30] cladmi commented on #62
Yeah I was not precise enough in my report, I wanted to give more details on the other ones, my bad.
Indeed the ones noted before as `Tests fixed on wsn430`, and the `pkg_tiny-asn1` where fixed and backported.
My report should more have been: `micro-ecc` is not merged in master, and none of the `Board gets stuck during test` have been fixed.

[2018-05-11 13:42] cladmi commented on #62
The automated scripts for task7 do not work out of the box, I try to find what happens. Something with an expect line.

[2018-05-11 14:14] cladmi commented on #62
Problem is that when doing `ifconfig`, addresses are now displayed without the `/prefix_len` (I hacked the script to not expect it)

Also, the test is using `fibroute` in `setFibRoutesInARow`
`shell: command not found: fibroute`.

I see to fix it.

[2018-05-11 14:57] cladmi commented on #62
### Task 7.01

I adapted the IOTLABHelper.py script to the new commands and output to make the test work.

[code]

[2018-05-11 14:59] cladmi commented on #62
### Task 7.02

Failed with first selected node but worked on the second with the same IOTLABHelper.py changes.

[code]

[2018-05-11 15:17] kYc0o commented on #62
I'm on 8.2

[2018-05-11 15:50] kYc0o commented on #62
8.9 done successfully.

[2018-05-11 17:11] cladmi commented on #62
Thank all for testing. Please remind me next week if I forget to upstream the changes for task 07.

[2018-07-17 09:24] cladmi opened #65 "Release 2018.07 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2018.07](https://github.com/RIOT-OS/RIOT/releases/tag/2018.07-RC1) release.

Specs tested:
- [ ] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/5d603752594eb04744ccfb0e57a4ec82f85fc07d/01-ci/01-ci.md) @cladmi (Related PR: ~https://github.com/RIOT-OS/RIOT/pull/9644~ ~https://github.com/RIOT-OS/RIOT/pull/9643~ ~https

[2018-07-17 14:41] cladmi commented on #65
I needed to fix some timeouts to run task02, task04. But other than that they work. I will provide PRs here and in RIOT for these.

[2018-07-20 10:12] cladmi commented on #65
PR to update the scripts in 01-CI: https://github.com/RIOT-OS/Release-Specs/pull/67

[2018-07-20 17:58] kYc0o commented on #65
Contiki test done and successful.

[2018-07-30 13:12] cladmi commented on #65
For 01-Ci, It took me a long time to actually make it run on my computer entirely (see the PR https://github.com/RIOT-OS/Release-Specs/pull/67 for updating the test scripts)

I arrived with issue that were already mentioned in the PR to update the docker container to `bionic` https://github.com/RIOT-OS/RIOT/pull/9507 There are PRs for fixing the issues already open.

[2018-07-30 13:16] miri64 commented on #65
You are still on RC1 for testing? With all the fixes merged, shouldn't you proceed to RC2 by now?

[2018-07-30 14:23] cladmi commented on #65
I was only running the automated tests for the moment and fixes are not merged for them. I will do a report for Task 2.

[2018-07-30 14:39] cladmi commented on #65
For Task 02 I used the script I wrote for running compilation and tests for one board: https://github.com/RIOT-OS/Release-Specs/pull/68 The results of the tests are stored in https://github.com/cladmi/RIOT_2018_07_tests_results

So I have a summary for more boards than the task requires.
Here is the summary:

### Compilation failed

Compilation was done for
[code]

* `ccn-lite-relay` failed on com

[2018-07-30 15:34] cladmi commented on #65
### Test failed

Tests where run on the same boards except `wsn430-*` as flashing was broken after two or three flash.

[code]

* `tests/cbor` only succeeded on `native`, which is known to be broken on other.
* `driver_ds1307` test fails on `iotlab-m3`, `iotlab-a8-m3`, `stm32f4discovery`
    * https://github.com/cladmi/RIOT_2018_07_tests_results/blob/master/cladmi-iotlab/iotlab-m3/tests/driver_ds1

[2018-07-30 15:57] miri64 commented on #65
due to https://github.com/RIOT-OS/RIOT/pull/9585 this also happens in master.

[2018-07-30 16:06] miri64 commented on #65
Comments made in RIOT-OS/RIOT#9007 still uphold

[2018-07-30 16:07] miri64 commented on #65
Might also be related that to the fact, that the default interface instead of a dummy interface is used. Both these boards don't have a netdev on board.

[2018-07-31 08:14] jia200x commented on #53
+1

[2018-07-31 08:39] jia200x commented on #53
Also, isn't 5% too much for packet losses?

I'm losing 1-2 packets out of 1000 with this test (0.2%). Maybe we can lower this number? (e.g 1-2.5%)

[2018-07-31 09:08] miri64 commented on #53
Well, it's a lossy medium with fragmented packets, so for the larger payload, I do see 5% as realistic.

[2018-07-31 15:38] PeterKietzmann commented on #65
04-single-hop-6lowpan-icmp Task #06 passed with 7% loss. I assume this relates to #7304

[2018-07-31 20:04] miri64 commented on #63
https://github.com/RIOT-OS/RIOT/issues/9061 is resolved.

[2018-07-31 20:04] #63 closed

[2018-07-31 20:32] cladmi commented on #65
@cgundogan may you can take a look at `trickle` errors ? https://github.com/RIOT-OS/Release-Specs/issues/65#issuecomment-408906530

[2018-08-01 17:06] miri64 commented on #62
(closing this one, since we are currently testing 2018.07 ;-))

[2018-08-01 17:06] #62 closed

[2018-08-01 17:20] miri64 commented on #65
Mhh... Rerunning `gnrc_netif` actually reveals a segfault that wasn't there before. I will investigate.

[2018-08-01 17:25] cladmi commented on #65
@miri64 I added a PR to enable it in CI to try having it for the release https://github.com/RIOT-OS/RIOT/pull/9669

[2018-08-01 19:00] miri64 commented on #65
Provided several fixes (I linked them in https://github.com/RIOT-OS/RIOT/pull/9669).

[2018-08-02 17:41] cladmi commented on #65
Closing in favor of #69

[2018-08-02 17:41] cladmi opened #69 "Release 2018.07 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2018.07](https://github.com/RIOT-OS/RIOT/releases/tag/2018.07-RC2) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/9d15ab0bf8248186c02ad4ff044147c5307fd404/01-ci/01-ci.md) (Related PRs: https://github.com/RIOT-OS/Release-Specs/pull/67) (Can someone else than me (cladmi) do it ? I will r

[2018-08-02 17:41] #65 closed

[2018-08-03 07:59] miri64 commented on #69
I've tested Task 8.8 and task 8.10, the issue seems to be resolved on the IEEE 802.15.4 level, however, the lwIP node seems to ignore any packages send to it by the GNRC node (neither UDP nor neighbor advertisements are considered from what I can gather from a sniff). I could investigate.

[2018-08-03 12:18] miri64 commented on #69
Well the bug was marked fixed in Feb 2018. The release RIOT's lwIP support is based on is from Sep 2017, so this is no surprise 😌

[2018-08-06 10:11] miri64 commented on #69
I've done 1.1 on my machine over the weekend. I had failed jobs for

* `examples/ccn-lite-relay` (for all boards except `native`)
* `tests/mcuboot` (only board tested `nrf52dk`)
* `tests/unittests` (for `acd52832`, `b-l475e-iot01a`, `nucleo-l452re`, `ruuvitag`, `stm32f429i-disc1`, `stm32l476g-disco`, `stm32mindev`, `teensy31`, `thingy52`, and `ublox-c030-u201`)

The problem with `ccn-lite-relay` I

[2018-08-06 11:32] cladmi commented on #69
I had the same issues when I tested `RC1`. For `ccn-lite-relay` maybe having a version test in the package build could be nice instead of just printing random errors.

I also re-run task 1 and everything worked on my computer. I will try running it also in docker.

[2018-08-07 19:57] jia200x commented on #69
I re run the test script in 05-single-hop-route for Task 4, and I'm getting 1 out of 10 packets loss randomly :/. The script executes everything without delay between commands. I'm pretty sure it will work if the script is ran manually (so give time between commands)

The weird thing is this doesn't happen when running in actual nodes (iotlab-m3). Any ideas on what might be going wrong?

[2018-08-07 20:02] miri64 commented on #69
@jia200x why are you using timing between commands? Aren't you using `tests/gnrc_udp` for this (which was designed for these kind of tests)?

[2018-08-08 07:58] jia200x commented on #69
@miri64 for single hop route I'm using ping from gnrc_networking.

What I mean, if I execute all commands manually (so there's around 1 sec between each command) it seems to work. When using the script, the first ICMP packet gets timeout randomly :/

[2018-08-08 08:02] jia200x commented on #69
tried with the gnrc_udp test and get similar results in Task 4

[2018-08-08 08:04] miri64 commented on #69
Is it always the first?

[2018-08-08 08:09] jia200x commented on #69
Yes. E.g:
[code]
or
[code]

Always the first packets.

[2018-08-08 08:16] miri64 commented on #69
I don't know what your script looks like, so I don't 100% understand the output ;-) but here is what I can't reproduce manually:

* Pinged node

[code]

* Pinging node

[code]

[2018-08-08 12:12] cladmi commented on #69
For the release, I would like to have tests results for different boards/cpu types:
Could you please run task 09 for your boards ? https://github.com/RIOT-OS/Release-Specs/pull/68

* [ ] ikea-tradfri (efm32) @basilfx
* [ ] hifive1 (fe310/riscV) @kenrabold
* [ ] your favorite arduino board(s) @maribu @ZetaR60
* [ ] native mac @smlng
* [ ] your favorite kinetis board(s) @gebart

It would give a hint

[2018-08-08 15:28] miri64 commented on #69
[Task 8.4](https://github.com/RIOT-OS/Release-Specs/blob/9d15ab0bf8248186c02ad4ff044147c5307fd404/08-interop/08-interop.md#task-04) fails, but is fixed by https://github.com/RIOT-OS/RIOT/pull/9522. I mark that PR for the release and open a PR against the release specs for doc on the required `CFLAGS`.

[2018-08-08 15:42] miri64 commented on #69
See #71.

[2018-08-08 15:54] aabadie commented on #69
@cladmi, I'll the tests on nucleo-f070rb, nucleo-l152re, arduino-zero and nrf52840dk

[2018-08-08 16:27] maribu commented on #69
[Arduino Mega2560](http://www.mari-bu.de/results-arduino-mega2560.tar.xz)

[2018-08-08 16:30] cladmi commented on #69
@maribu thank you :)

[2018-08-08 21:05] aabadie commented on #69
[Arduino Zero, Nrf52840dk and nucleo-f070rb](https://github.com/cladmi/RIOT_2018_07_tests_results/pull/12)

[2018-08-08 23:46] ZetaR60 commented on #69
[mega-xplained, arduino-uno, and arduino-duemilanove](https://github.com/cladmi/RIOT_2018_07_tests_results/pull/13)

[2018-08-09 05:10] cladmi commented on #69
Task 02-01:

* `driver_my9221` is executed even if the hardware is of course not available
* Some tests are executed with `echo=False` so no output by default.

[2018-08-09 05:25] cladmi commented on #69
Summary of 02-tests task 02/03 including also other boards than m3 and samr21-xpro.

`samr21-xpro` and `iotlab-m3` are now only subject to false negatives with tests that are executed even if the required hardware is not present or would have required a specific setup which is not done.

-------

Detailed test results of all tested boards can be found in here:

https://github.com/cladmi/RIOT_2018_

[2018-08-09 05:57] miri64 commented on #69
That should have been fixed by https://github.com/RIOT-OS/RIOT/pull/9588, but maybe there is another one I did not know about?

[2018-08-09 06:53] cladmi commented on #69
In master yes, not on the release branch :) I should have said it in the output.

[2018-08-09 06:57] miri64 commented on #69
Mh... I believed it to be on the release branch as well. Should I provide a backport?

[2018-08-09 06:58] cladmi commented on #69
No its ok, no worry :)

[2018-10-12 16:56] miri64 opened #73 "RFC: CoAP release specs"
With https://github.com/RIOT-OS/RIOT/pull/7428 I was wondering if we could integrate CoAP into our release specifications (or actually astonished that we still don't include it). It is a very important protocol for the IoT and should thus be rigorously tested (IMHO tests with native should be enough though). We could use the plugtests for CoAP and CoAP-RD that were done at various IETF-related eve

[2018-10-13 10:00] kb2ma commented on #73
Sounds like a good idea to me. I actually have some [functional tests](https://github.com/kb2ma/RIOT/wiki/Functional-Tests) for gcoap based on pyexpect that I run to verify no regressions with a new PR. Based on that, I would test the following, in order of importance:

1. Client/Server non-confirmable GET -- the most basic request
1. Client confirmable GET, including retries -- ensure 1 retry wor

[2018-10-15 07:40] jia200x commented on #73
Makes 100% sense.

I have [some scripts](https://github.com/jia200x/Release-Specs/tree/pr/testrunner/testrunner) for running Release Specs tasks (via serial port or IoTLAB). I will push them sooni-sh :)

[2018-10-22 06:46] PeterKietzmann opened #74 "drivers: interoperability of 802.15.4 radios"
1. We should incorporate all 802.15.4 radios in our release tests.
2. We should add interoperability tests between different radios.

Especially when it comes to 6LoWPAN fragmentation where multiple frames are sent subsequently, I expect many issues. Just as an example, in [#9864](https://github.com/RIOT-OS/RIOT/pull/9864) I found out that `ping6` with fragmented ICMPv6 packets results in 100% los

[2018-10-22 06:47] PeterKietzmann commented on #74
@aabadie's comment:

And in a close future (expect 2 to 4 weeks), there will be frdm-kw41z and nrf52840dk (and I'm thinking about adding samr30-xpro as well. All in the same room and easily reachable from the RIOT build system thanks to the awesome IOTLAB_NODE variable !

[2018-10-25 17:31] jia200x opened #76 "Release 2018.10 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2018.10](https://github.com/RIOT-OS/RIOT/releases/tag/2018.10-RC1) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/4ee64ec67de19c796a684c96b42b606cc385f884/01-ci/01-ci.md) @cladmi
  - [x] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/4ee64ec67de19c796a684c96b42

[2018-10-29 14:32] cladmi commented on #76
I take care of running [01-ci -> Task #01](https://github.com/RIOT-OS/Release-Specs/blob/4c67a4f122e3c57a5d161aac9a19abe73f693792/01-ci/01-ci.md) in docker with:

* xenial with --no-install-recommends https://github.com/RIOT-OS/riotdocker/pull/59
* bionic with --no-install-recommends https://github.com/RIOT-OS/riotdocker/pull/59 + https://github.com/RIOT-OS/riotdocker/pull/42

[2018-10-29 14:42] cladmi commented on #76
@kb2ma is working on running coap tests https://github.com/RIOT-OS/Release-Specs/pull/77 :)

[2018-10-29 15:27] miri64 commented on #76
I still have the arch image I used for testing https://github.com/RIOT-OS/RIOT/pull/9942 on stronger machine, so I will run 1.1 with that as well during the night.

[2018-10-29 16:18] jia200x commented on #76
updated tasks with script

[2018-10-29 16:54] miri64 commented on #76
Sadly, I've got massive problems using that VM... I'll try tomorrow again, but for now I'm leaving.

[2018-10-29 18:08] miri64 commented on #76
For the [`conn_can`](https://gist.github.com/jia200x/5f1c8852abc7501421d9bea84f385493#conn_can) thing you are missing [a library](https://github.com/RIOT-OS/RIOT/tree/master/tests/conn_can#native-prerequisites).

[2018-10-29 18:11] miri64 commented on #76
The [cayenne-lpp](https://gist.github.com/jia200x/5f1c8852abc7501421d9bea84f385493#pkg_cayenne-lpp) and [lora-serialization](https://gist.github.com/jia200x/5f1c8852abc7501421d9bea84f385493#pkg_lora-serialization) issues are similar to what we saw with https://github.com/RIOT-OS/RIOT/pull/9681, I think.

[2018-10-29 18:20] miri64 commented on #76
The [`driver_at`](https://gist.github.com/jia200x/5f1c8852abc7501421d9bea84f385493#driver_my9221) test seems to be the only legitimate error, as it marks a casting of a function pointer to a completely different type.

[2018-10-30 09:21] jia200x commented on #76
Yes, it's the same.

Agreed :)

[2018-10-30 10:38] cladmi commented on #76
What I notice too with `lora-serialization` is that it overrides the `test` target.

[code]

That is something that should then be selected using features I think. But it is a global change and not a bug fixup. It goes in my dependencies definitions huge todo list.

[2018-10-30 10:43] cladmi commented on #76
The driver_at already has a pull request for it https://github.com/RIOT-OS/RIOT/pull/9740

[2018-10-30 11:48] cladmi commented on #76
I managed to compile everything with docker `xenial` using `gcc` except `waspmote-pro/tests_gnrc_ipv6_nib` that fails with

[code]

It is solved when using https://github.com/RIOT-OS/RIOT/pull/9646 so no need to worry about it.

[2018-10-30 14:30] jia200x commented on #76
# Results for 05-single-hop-route:
## Task 01 (native)
[code]
## Task 02 (IoT-LAB)
[code]
## Task 03 (native)
[code]
## Task 04 (IoT-LAB)
[code]

[2018-10-30 14:52] jia200x commented on #76
@RIOT-OS/maintainers can someone take care of the missing tasks? (e.g 03, 04, ...)

[2018-10-30 15:23] cladmi commented on #76
I noticed that currently it is not possible to build in docker from a release archive. I have a commit that fixes this in a bigger PR that was at first done for external applications.
I will do a separate PR for this.

In `bionic` and docker I have problems when running from a `worktree` because `git hash-object --stdin` complains in `git-cache`. I will investigate more.

[2018-10-30 21:20] jia200x commented on #76
`pkg_fatfs_vfs` passes on `samr21-xpro`.

[2018-10-30 21:48] jia200x commented on #76
@kb2ma I added the pointer to the CoAP tests PR so other people can find them. AFAIU, these 5 tasks where run in `2018.10-branch`, right?

[2018-10-30 22:55] jia200x commented on #76
`driver_my9221` pass with fix in RIOT-OS/RIOT#10305 on `samr21-xpro`.

So, besides the `trickle` problem that I was not able to reproduce anymore, all tests are passing on `samr21-xpro`.

[2018-10-31 08:45] kb2ma commented on #76
Yes, that's correct.

[2018-11-01 14:46] jia200x commented on #76
I ran all tests on Iot-LAB (`iotlab-m3` board). `pkg_fatfs_vfs` and `driver_my9221` failed because of configurations (as expected in this case).

The `trickle` had the same issue as described [here](https://github.com/RIOT-OS/Release-Specs/issues/76#issuecomment-434264339).
Also, there seems to be something wrong with I2C on IoT-LAB. `drivers_ds1307` failed:
[code]

[2018-11-02 11:00] cladmi commented on #76
Compiled everything in the `bionic` image and the failure (firmware too big) is the same as with the next `xenial` image and the current one. It is just because of our docker integration
https://github.com/RIOT-OS/Release-Specs/issues/76#issuecomment-434270312

[2018-11-02 12:49] kb2ma commented on #73
@jia200x, I reviewed the scripts in your testrunner branch. They are awesome! Really nice use of Python. I need something like this to move my functional test automation forward and hopefully into the RIOT tree. I'll also automate the tests in the 09-coap directory, but it won't be ready for this release.

[2018-11-02 13:06] jia200x commented on #76
08-interop/T.09 works, but there's a problem in the implementation of the `udp send` command in the `emb6` test:
GNRC sending to emb6
[code]

emb6 sending to GNRC
[code]

emb6 is encoding the payload wrongly (see [here](https://github.com/RIOT-OS/RIOT/blob/master/tests/emb6/udp.c#L89)). But it works (both with ICMP packets as well as UDP).

[2018-11-05 15:11] miri64 commented on #76
See https://github.com/RIOT-OS/RIOT/issues/10316#issuecomment-435909204 on that. You may reopen if you disagree, but I don't think this needs to be "improved".

[2018-11-05 15:49] miri64 commented on #76
The address outputed however seems to be a bug in the `sock_udp_recv` implementation of `emb6`. I also encountered that when testing task 8.10 I'll have a look.

[2018-11-05 18:08] kYc0o commented on #76
Contiki test successful 👍🏽

[2018-11-05 18:13] kYc0o commented on #76
For the record:

Contiki side:

[code]

It shows an UDP packet received from RIOT. Ping also works as expected:

[code]

And for UDP:

[code]

Which reflects what was sent to the contiki node.

Side note: I tested it with the contiki version 3.1. For the next release we might want to move to contiki-ng and extend the interop with zephyr, mynewt and mbed. Hopefully we share a common supported board

[2018-11-05 18:19] jia200x commented on #76
thanks @kYc0o and @miri64 for testing ;)

[2018-11-05 18:38] jia200x commented on #76
only 5 tests and we get 100% of tests in RC1!

[2018-11-06 10:47] jia200x commented on #76
all interop tests passed!

[2018-11-06 11:21] miri64 commented on #76
I tested the arduino-zero/xbee tests for task 4 and while they were successful there sometimes were some initialization issues on the xbee side. I'll try to research those, but I don't see them blocking for the release, as the tasks are just experimental.

[2018-11-06 12:43] jia200x opened #81 "Release 2018.10 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2018.10](https://github.com/RIOT-OS/RIOT/releases/tag/2018.10-RC2) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/3d437d115a0e44822058a7bd4c33066af9924a2b/01-ci/01-ci.md)
  - [x] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/3d437d115a0e44822058a7bd4c33066af99

[2018-11-06 12:53] jia200x commented on #76
thanks for testing!

[2018-11-06 12:53] #76 closed

[2018-11-06 13:06] jia200x commented on #73
@kb2ma thank you so much! :) I based them on the testrunner of [Django](https://github.com/django/django/blob/master/tests/app_loading/tests.py). They still need some work but I have always found this mechanism quite easy to expand.
Feel free to take whatever you need from the branch :)

[2018-11-06 13:07] jia200x commented on #81
@kb2ma do you have time to re-run the `09-coap` tasks again? :)

[2018-11-06 13:19] miri64 commented on #69
We are on 2018.10-RC2 already, so this one can be closed ;-).

[2018-11-06 13:19] #69 closed

[2018-11-06 13:39] kb2ma commented on #81
No problem, @jia200x. I'll should get to it by Wednesday morning.

[2018-11-06 13:40] jia200x commented on #81
Awesome! Thank you so much!

[2018-11-06 14:56] jia200x commented on #81
waiting for 01/01. Unittests pass in all variants

[2018-11-06 16:05] miri64 commented on #81
I don't have access to a remote, so 4.5 and 4.6 needs to be done by someone else.

[2018-11-06 16:06] jia200x commented on #81
We can run it here at HAW

[2018-11-06 17:03] miri64 commented on #81
Nothing interesting to report for task 4.

[2018-11-07 10:20] jia200x commented on #81
GNRC - emb6 - lwip triade works as expected in the interop tests

[2018-11-07 11:17] kb2ma commented on #81
09-coap works as expected.

[2018-11-07 12:30] jia200x commented on #81
Native tests:
[code]

`driver_my9221` is expected to fail on native (it shouldn't run IMO though). `pkg_cayenne-lpp` and `pkg_lora-serialization` fail in GCC8 because of floating point implementation. Not blocking for the release though.

I think we should implement the classic `AssertAlmostEqual` for these tests soon-ish

[2018-11-08 08:38] miri64 commented on #81
FYI, @bergzand found a serious bug in https://github.com/RIOT-OS/RIOT/pull/10246#issuecomment-436786898. Luckily in its current version https://github.com/RIOT-OS/RIOT/pull/10246 fixes that (though very ugly, but later reversible).

[2018-11-08 09:45] jia200x commented on #81
Output of compile test:
[code]

The `gnrc_ipv6_nib` example fails to build on `waspmote-pro`. It's the same problem as described in [RIOT-OS/Release-Specs#76 (comment)](https://github.com/RIOT-OS/Release-Specs/issues/76#issuecomment-434270312), and it's solved with RIOT-OS/RIOT#9646. So, no need to worry about it

[2018-11-08 13:09] cladmi commented on #81
I ran some `scan-build` to test the new docker images and it reports actual bugs like `(netif == NULL) ? netif->pid : 0);`  for `make -C examples/gnrc_networking scan-build`

I will try running it for the boards supporting llvm and do a report.

[2018-11-08 13:34] miri64 commented on #81
I'm doing a fix for the native reports as we speak. @jia200x do we do another release candidate for all those last minute GNRC stuff?

[2018-11-08 14:00] miri64 commented on #81
See https://github.com/RIOT-OS/RIOT/pull/10350.

[2018-11-08 14:04] jia200x commented on #81
Yes. Also for the latest fixes

[2018-11-08 15:02] cladmi commented on #81
Unfortunately I did not have time to run and analyze them before the week-end.

[2018-11-09 14:38] miri64 commented on #81
Who tested 8.6 and 8.7 because the RIOT border router on `samr21-xpro` crashes for me in the current release branch oO

[2018-11-09 14:42] jia200x commented on #81
I tested it. It didn't crash in any of the RC. Let me re-check in any case

[2018-11-09 14:42] miri64 commented on #81
(It also crashes on RC2, I checked)

[2018-11-09 14:49] miri64 commented on #81
All-clear: it was the broken samr21-xpro I was using ^^"

[2018-11-10 11:32] jia200x opened #84 "Release 2018.10 - RC3"
This issue lists the status of all tests for the [Release Candidate 3 of the 2018.10](https://github.com/RIOT-OS/RIOT/releases/tag/2018.10-RC3) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/a89920e1d9feb078f54aca56deebd9c04d10266c/01-ci/01-ci.md)
  - [x] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/a89920e1d9feb078f54aca56deebd9c04d1

[2018-11-10 14:37] jia200x commented on #84
nothing interesting to report in `samr21-xpro` and `iotlab-m3` tests

[2018-11-10 16:08] jia200x commented on #84
For `native`, same results as RC2

[2018-11-11 14:13] jia200x commented on #81
Already in RC3

[2018-11-11 14:13] #81 closed

[2018-11-11 14:15] jia200x commented on #84
nothing interesting to report in the compile test. `gnrv_ipv6_nib` fails on waspmote, but it's fixed with RIOT-OS/RIOT#9646

[2018-11-28 16:51] miri64 commented on #84
Release is out ;-)

[2018-11-28 16:51] #84 closed

[2019-01-23 11:50] #73 closed

[2019-01-25 17:10] aabadie opened #92 "Release 2019.01 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2019.01](https://github.com/RIOT-OS/RIOT/releases/tag/2019.01-RC1) release.

Specs tested:
- [ ] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/4d4d22e12421dbd026e7086a7ce4d338bdf1dd22/01-ci/01-ci.md)
  - [ ] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/4d4d22e12421dbd026e7086a7ce4d338bdf

[2019-01-25 17:47] miri64 commented on #92
I started running Task 1.1. Should be done during the weekend.

[2019-01-26 16:44] kb2ma commented on #92
09-coap runs fine on native.

[2019-01-26 21:09] miri64 commented on #92
10-icmpv6-error succeeded, however I found some errors in its testing procedures (fixed in #93) and an unrelated bug in RIOT itself (fixed in https://github.com/RIOT-OS/RIOT/pull/10879).

[2019-01-27 15:40] aabadie commented on #92
I ran the automatic python script for tasks 2.2 and tasks 2.3 and got the following tests failing:
- tests/gnrc_ipv6_ext: needs to be root and maybe another setup is required to able to reach the node from the script (ethos, or something)
- tests/gnrc_rpl_srh: same as the first one
- tests/pkg_fatfs_vfs: needs some MTD setup for these boards which is not provided by default.

All other tests succe

[2019-01-27 19:55] cgundogan commented on #92
I successfully ran all multi-hop tests (following the description in https://github.com/RIOT-OS/Release-Specs/pull/85, btw)

[2019-01-28 07:18] miri64 commented on #92
You need `scapy` and `ethos` for it. Both require `sudo` (`ethos` because the `start_network.sh` script is a little bit screwed up) and `scapy` because it needs to be able to send Ethernet frames.

[2019-01-28 09:57] leandrolanzieri commented on #92
Successfully ran the single-hop-udp tests

[2019-01-28 11:30] cgundogan commented on #92
I updated the progress list above, since some of my modifications removed @leandrolanzieri 's checks. We really need to find another way of documenting our progress ..

[2019-01-28 11:48] miri64 commented on #92
All but `gnrc_sixlowpan_frag` succeeded

[code]

Will investigate what's wrong.

[2019-01-28 12:35] miri64 commented on #92
Ok, the application gets too large for MSP430 platforms on my machine, but on Murdock it is small enough (see [build](https://ci.riot-os.org/RIOT-OS/RIOT/10886/7d966d34dd722acf60034078e5da39499aa0de6a/output.html) of https://github.com/RIOT-OS/RIOT/pull/10886 e.g.), so not really a problem.

[2019-01-28 12:37] miri64 commented on #92
Maybe a reusable project could help with that?

[2019-01-28 16:17] aabadie commented on #92
Task 4.4 is failing, packet loss is above 10%

[2019-01-28 17:52] cgundogan commented on #92
2019-01-28 18:47:48,871 - INFO # 10000 packets transmitted, 9991 received, 1% packet loss, time 1313.06522340 s
2019-01-28 18:47:48,874 - INFO # rtt min/avg/max = 17.590/22.397/46.515 ms

@aabadie this is what I get with a local setup. Maybe you have some interferences on channel 26 at your site?

[2019-01-28 18:00] aabadie commented on #92
Maybe yes, I'll rerun the tests on another channel.

[2019-01-29 08:54] miri64 commented on #92
I redid 10.07 with https://github.com/RIOT-OS/Release-Specs/pull/96 included. Still passes.

[2019-01-29 10:23] aabadie commented on #92
They are passing ~5% packet loss.

[2019-01-29 12:48] aabadie commented on #92
Tasks 05 are passing. I also ran tasks 04 (except 04.05 and 04.06 because I don't have the hardware) with success.

[2019-01-29 13:17] aabadie commented on #92
Also completed tasks 1.3 and 1.4 with success.

[2019-01-29 21:37] jia200x commented on #92
tasks 05, 06 and 07 from 08.interop run OK

[2019-01-29 21:51] jia200x commented on #92
Interop tests between GNRC, emb6 and lwip pass

[2019-01-30 16:11] aabadie commented on #92
I ran 99 on nrf52dk, samr21-xpro and iotlab-m3 and got the same results as reported in https://github.com/RIOT-OS/Release-Specs/issues/92#issuecomment-457928353

[2019-01-30 16:12] aabadie commented on #92
Is there someone who could test 4.5, 4.6, 8.3 and 8.4 ? After that, we are ready for the RC2

[2019-02-04 10:50] miri64 commented on #92
Nothing unexpected to report for 8.4.

[2019-02-04 13:43] miri64 commented on #92
I finally was able to do 8.3. I based it on @kYc0o comment here https://github.com/RIOT-OS/Release-Specs/issues/58#issuecomment-361926531. It was still not that straightforward. I will try to update the specs and test descriptions.

[2019-02-04 15:27] aabadie opened #98 "Release 2019.01 - RC2"
This issue lists the status of all tests for the [Release Candidate 2 of the 2019.01](https://github.com/RIOT-OS/RIOT/releases/tag/2019.01-RC2) release.

Specs tested:
- [ ] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/ce766eb47922df392fb9e7bfe351fb07388c1112/01-ci/01-ci.md)
  - [ ] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/ce766eb47922df392fb9e7bfe351fb07388

[2019-02-04 15:35] miri64 commented on #98
As a bonus I rebased https://github.com/RIOT-OS/RIOT/pull/10908 to `2019.01-RC2` and ran the test. It passed ;-).

[2019-02-04 15:38] miri64 commented on #98
8.3 still works on `2019.01-RC2` as well.

[2019-02-05 08:33] miri64 commented on #98
8.4 still works. BTW also without the compile flag (which I accidentally forgot to set), since the Raspberry Pi I'm using has the [ABRO configured](https://www.mankier.com/5/radvd.conf#Abro_Specific_Options) in its radvd.conf ;-).

[2019-02-05 10:50] miri64 commented on #98
10 still works, however still found 2 bugs in the testing procedures (see #100 and #101)

[2019-02-05 16:59] cladmi commented on #98
I will run the automated tests on boards, at least `iotlab-m3`, `samr21-xpro` and see what other boards I can run on that I have here for the next step.

[2019-02-06 11:06] cladmi commented on #98
For both `iotlab-m3` and `samr21-xpro` all automated tests ran with these failed tests:

[code]

The `gnrc_ipv6_ext` and `gnrc_rpl_srh` requires root when running the test, I could run them manually:
Note, arm-gcc is not in my normal path so not seen when run with sudo, so we currently have printed errors.
However, it is using my locally installed python packages so no need for a special setup the

[2019-02-06 11:32] miri64 commented on #98
You don't need to build and you don't need to flash with `sudo` (unless you did not configure your udev rules of course). Just the execution of the *test script* requires root.

[2019-02-06 11:34] miri64 commented on #98
I think the name `admin-test` might be misleading. There is a difference between the root user and an admin user (though they might be the same *person* in some cases) ;-)

[2019-02-06 11:42] cladmi commented on #98
Yes, but it still tries to evaluate `arm-none-eabi-gcc` even when running tests, it is an unrelated issue, just noted the error message.

It was more on the concept than the name, I was not confident with `root-test` either, maybe a `privileged-tests` or something. But it would be a dedicated discussion in an issue/PR.

[2019-02-06 12:58] cladmi commented on #98
Compiling and running tests for `iotlab-m3` on a machine with no toolchain using docker, also has `tests/riotboot` failing to compile:

[code]

[2019-02-07 10:22] aabadie commented on #98
@cgundogan, @jia200x, @leandrolanzieri, you checked some items for the RC1. Can you try again on RC2? That would help a lot, thanks!

[2019-02-07 10:34] cladmi commented on #98
I just re-run the `grnc_ipv6_ext` example with `samr21-xpro` after rebooting and the test fails:

[code]

[2019-02-07 10:55] cladmi commented on #98
As the test is running `ethos` alone, without pre-creating the interface, it stays in the `down` state.

[code]

Doing as in `start_network.sh`, with creating the interface and putting it up before the test it works.

When `dist/tools/tapsetup/tapsetup` has been run before it also works, this should have been my state on the previous run.

[2019-02-07 12:38] cladmi commented on #98
Note on tests with `arduino-mega2560`, there are several tests failure, even some that look important:

[code]

I will look into them and give details.

[2019-02-07 20:39] aabadie commented on #98
@miri64, I manually ran the 3.4 task and the packet buffer of the receiving node is not empty, even several seconds after the end of the test. I put the content in this [gist](https://gist.github.com/aabadie/757f67e0841868e97261c851a2717d43)
I forgot to check the pktbuf of the sending nodes but they were still reachable.

For my setup, I created 11 tap interfaces using tapsetup and attached 11 nat

[2019-02-07 21:53] miri64 commented on #98
Why not use the `ping6` command of your host machine?

[2019-02-07 22:05] miri64 commented on #98
I'll see what happens, when I run a long-term experiment tonight.

[2019-02-08 07:51] aabadie commented on #98
A few testing:
- I ran your commands (only with `-i 0`) from my host and the pktbuf on the native node is never filled even during the flood. The RIOT node is always active, no error message is displayed
- Then I ping the RIOT node from different shells and got a lot of `gnrc_netif: possibly lost interrupt.` on the native node. It remains active, even during the flood, the pktbuf is always empty

[2019-02-08 07:57] miri64 commented on #98
`-f` implies `-i 0` ;-)

[2019-02-08 07:58] miri64 commented on #98
I ran it during the night. I also had possibly lost interrupts (which just means that the `gnrc_netif` message queue was full), but the packet buffer is empty.

[2019-02-08 08:01] miri64 commented on #98
I will try again from different addresses though.

[2019-02-08 08:57] miri64 commented on #98
@aabadie can you share your test script? I was also not able to reproduce the issue you described using https://gist.github.com/miri64/fac4df86be36f0a65d9bdb4d2f09d5c7 (the check of the packet buffer fails to match for some reason, but it is empty).

[2019-02-08 09:16] aabadie commented on #98
not possible, I did the setup (tapsetup -c 11), started the native instances and launched the pings manually on different terminals. I can try your script.

[2019-02-08 09:38] miri64 commented on #98
But how is this a Stresstest? With count 1000 the ping is faster done than you can copy the ping command to all terminals.

[2019-02-08 09:44] aabadie commented on #98
Sure, but prepare each terminal with the ping commands and then switch between them and launch them. Using keyboard shortcuts, this can be done faster enough to trigger a lot of ping timeout, slowing down everything. I have no idea what is going on during this test and how it is supposed to behave. Maybe the python script is introducing side effects because of the GIL ? Are we sure the pings are p

[2019-02-08 14:14] miri64 commented on #98
No. But since I was already quite annoyed by doing this with two terminals when I analyzed https://github.com/RIOT-OS/RIOT/issues/10672, I'm going to write some script that does the same thing in bash and come back to you.

[2019-02-08 15:07] miri64 commented on #98
Ok, I was able to reproduce with this script https://gist.github.com/miri64/fac4df86be36f0a65d9bdb4d2f09d5c7#file-03-4-test-sh. Since it is working for one neighbor but having problems with 10, I suspect something to go wrong in the neighbor discovery.

[2019-02-08 15:15] miri64 commented on #98
I even was able to produce a segmentation fault now :o

[2019-02-08 16:03] miri64 commented on #98
Though I'd still like to find out, how exactly it happens I opened https://github.com/RIOT-OS/RIOT/pull/10975 to fix the segfault for now. I wasn't able to reproduce the leak with that fix as well with count 1000 and 10000 though I don't understand why either. I investigate further.

[2019-02-08 19:39] miri64 commented on #98
https://github.com/RIOT-OS/RIOT/pull/10975 makes the occurrence of the leak harder to reproduce, but I already saw one again. My suspicion is, that (from https://github.com/RIOT-OS/RIOT/pull/10975#issuecomment-461917017)

Lead to a number of leaks, that now don't occur anymore.

[2019-02-08 19:55] miri64 commented on #98
In your gist, I'm still very confused about the start

[code]

apart from the last 8 byte (a start of a packet snip) I'm not really sure what the repeating sequence is... :-/

[2019-02-08 21:08] miri64 commented on #98
@aabadie With https://github.com/RIOT-OS/RIOT/pull/10978 I can't produce any leaks at the moment.

I had one occurrence while debugging this where I had a `gnrc_netif_hdr` stuck in the packet buffer (all packets that are released with the fix in https://github.com/RIOT-OS/RIOT/pull/10978 should not have a netif header, since it is removed in [here](https://github.com/RIOT-OS/RIOT/blob/e78069b3163e

[2019-02-11 04:52] cgundogan commented on #98
I will re-do the multihop tests once I have a stable Internet connectivity. Probably around noon.

[2019-02-11 09:01] miri64 commented on #98
Ah, those are target link-layer address options for the address `42:b9:98:78:c8:00`.

[2019-02-12 11:50] cladmi commented on #98
I added the details of `arduino-mega2560` failures in the main post. I will see what I can fix.

[2019-02-12 16:22] cladmi commented on #98
It looks like the issue for overflow in `tests/periph_gpio` comes from the fact that `benchmark` takes timing from within masked interrupts and `xtimer_now_usec` does not look like implemented to work from within masked interrupts for `arduino-mega2560`.

[2019-02-13 09:34] aabadie opened #105 "Release 2019.01 - RC3"
This issue lists the status of all tests for the [Release Candidate 3 of the 2019.01](https://github.com/RIOT-OS/RIOT/releases/tag/2019.01-RC3) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/6df7e05d72bac7f00aac28b71d995528660ce940/01-ci/01-ci.md)
  - [x] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/6df7e05d72bac7f00aac28b71d995528660

[2019-02-13 09:34] aabadie commented on #98
Closing in favor of #105

[2019-02-13 09:34] #98 closed

[2019-02-13 09:34] aabadie commented on #98
Closing now that there's #105

[2019-02-13 10:27] miri64 commented on #105
@aabadie did you remove 3.5 intentionally?

[2019-02-13 10:28] aabadie commented on #105
No, maybe another mistake with issue not being synchronized ? Can you add it again ?

[2019-02-13 10:29] miri64 commented on #105
Will do

[2019-02-13 10:35] aabadie commented on #105
Thanks, it's here again :)

[2019-02-13 11:35] miri64 commented on #105
Just to make sure I cherry-picked https://github.com/RIOT-OS/RIOT/pull/10908 onto `2019.01-RC3` again and ran it. Still works :+1:

[2019-02-13 11:53] kb2ma commented on #105
CoAP still looking good.

[2019-02-13 13:36] aabadie commented on #105
Tasks 04 passed (skipped 4.5 and 4.6 because I don't have a 'remote')

[2019-02-13 14:14] miri64 commented on #105
Can't test 8.2 atm. I don't have my Laptop with me and the back-up I'm usually using for that case is not in house this week :-(.

[2019-02-13 14:58] aabadie commented on #105
I could check 8.2 using the RPI/6LowPAN which is in my office (and hosting http://riot-demo.inria.fr). It works :)

[2019-02-13 14:58] miri64 commented on #105
:+1: I was surprised to see the check mark set and unsure I set it accidentally ^^

[2019-02-13 15:00] miri64 commented on #105
Then you should also be able to do 8.4. Since we don't have small enough prefixes here to expose the WPAN to the Internet I usually just ping a global address of the Raspberry Pi that is not the `wpan0` interface's address. That should be proof that forwarding on the Linux side works.

[2019-02-13 15:11] aabadie commented on #105
Thanks for the tip, I was trying to ping google DNS without success and tried looking into ipforwarding stuff, still without success...

But it works with global ipv6 of the PI :+1:

[2019-02-13 15:50] aabadie commented on #105
The native stress tests passed smoothly

[2019-02-13 17:30] aabadie commented on #105
@jia200x, I'm sorry I completed tasks 11 (lorawan) because I want to check the release specs fast.

[2019-02-13 17:32] jia200x commented on #105
No problem.

I will have some time to run the tests I marked by tomorrow morning.

[2019-02-14 07:53] aabadie commented on #105
We are just missing tasks 1.1, 7.x and 8.5-10. @cgundogan, @miri64, are you planning to perform the multi-hop checks soonish ? @jia200x, let me know when you are done with the interop tests. For 1.1, can we trust Murdock? Because I won't have the time to run it today.

[2019-02-14 10:46] miri64 commented on #105
I didn't plan to, but can do.

[2019-02-14 10:52] miri64 commented on #105
BTW the links above refer to the wrong document somehow.

[2019-02-14 11:16] miri64 commented on #105
Done

[2019-02-14 11:19] miri64 commented on #105
Also found a bug in the example test guide (see https://github.com/RIOT-OS/Release-Specs/pull/108).

[2019-02-14 11:47] miri64 commented on #105
You are the release manager, so you decide. However, I ran compile tests for RC1 on my machine, so I was able to just compile a subset of some applications that were definitely touched by the changes since RC1:

[code]

According to that

[code]

Should suffice (it appears there are no applications that include `esp_wifi` or `w5100` per default) to spot any compile errors that came from those chan

[2019-02-14 12:05] aabadie commented on #105
I decide that it is ok :)

[2019-02-14 12:41] miri64 commented on #105
Ok, but nevertheless I ran my sample set and can report, that nothing is broken ;-).

[2019-02-14 13:10] miri64 commented on #105
I finished 8.8 and 8.10. @jia200x any reason you skipped those?

[2019-02-14 13:15] aabadie commented on #105
Thanks, so it seems that we are all set on this side :)

[2019-02-14 13:20] aabadie commented on #105
Regarding task 99, the `compile_and_test_one_board` was run on iotlab-m3/samr21-xpro/nrf51dk/nrf52dk/b-l475e-iot01a.

The results are listed [here](https://ci.inria.fr/iotlab-os-ci/job/test-job/59/testReport/)

[2019-02-14 13:58] jia200x commented on #105
I spent a lot of time fixing an Arch issue with 8.5. Then, I just did 8.8 before lunch

[2019-02-19 14:33] jia200x commented on #105
Release 2019.01 is out there. Closing this one ;)

[2019-02-19 14:33] #105 closed

[2019-03-13 15:10] danpetry opened #110 "riotboot: tests"
Currently we're not testing riotboot as part of the release specs. We should include this. Running the two current tests in tests/ for all supported board (automatedly, if possible) would be sufficient IMO.

[2019-03-13 17:42] miri64 commented on #110
Isn't this included somewhat in Task 2.2-4 combined with Task 99? Or do you want to make it more explicit that it **must** be tested for all supported boards.

[2019-04-03 15:51] danpetry commented on #110
yes you're right, just catching up on the test scope atm, thanks for the info.

[2019-04-03 15:51] #110 closed

[2019-04-05 13:38] danpetry opened #113 "Release 2019.04 - RC1"
This issue is for discussion related to testing and bugfixing of [Release Candidate 1 of the 2019.04](https://github.com/RIOT-OS/RIOT/releases/tag/2019.04-RC1) release.

To track testing, please use the tracking spreadsheet, which contains the list of tests and a column for your initials if you're testing something, and pass/fail status for your test. This should hopefully be a better way of captu

[2019-04-05 14:03] danpetry opened #114 "Test coverage improvements - tracking issue"

[2019-04-08 13:20] danpetry opened #117 "Test automation improvements - tracking issue"
Summary
=======

This issue gives an indication of the automation improvements that can be made in the testing.

Currently the "ease of automation" statuses are very WIP. I'll be updating them as I get more familiar with the testing (by doing the testing). In the meantime, if anyone sees any corrections or updates they can make to them, please go ahead and make them if you have time.

Test 01-ci
=

[2019-04-08 14:04] danpetry opened #118 "Test 02 - handle tests that need sudo"
Currently, the following tests need to be run using the command `sudo make test`:

tests/gnrc_ipv6_ext
tests/gnrc_rpl_srh

This is currently not handled in the `compile_and_test_for_board.py` script which automates that test. Which leads to a failed result and the need for those tests to be done manually.

[2019-04-09 08:34] miri64 commented on #113
Why is 1.1 marked as failed? As far as I can see the linked Murdock output only fails on the tests for `tests/pkg_c25519` but not on the compiling of any of those applications.

[2019-04-09 08:51] danpetry commented on #113
It says "failures fixed" next to it, Koen submitted a PR for the fix which got backported so this indicates that. Maybe it's not clear enough, I'll change

[2019-04-09 08:53] danpetry commented on #113
Ok thank you for the clarification!

[2019-04-10 10:13] jia200x commented on #113
Test 11.3 (LoRaWAN abp) fails. It freezes:
[code]

[2019-04-10 10:32] miri64 commented on #113
Meta-comment: While I think that the spreadsheet could help with the syncing problem we faced in the past, it is a bit impractical in the regard that it doesn't provide links to the tasks, as the checklist did.

[2019-04-10 10:45] miri64 commented on #113
I'm investigating why 4.3 is failing

[2019-04-10 10:52] miri64 commented on #113
@danpetry regarding 4.7-8: did you compile the `arduino-zero` application with `USEMODULE=xbee`?

[2019-04-10 11:03] danpetry commented on #113
@miri64 I used the automated scripts, haven't checked further yet

[2019-04-10 11:10] miri64 commented on #113
https://github.com/RIOT-OS/RIOT/pull/9523 introduced the regression. I'm trying to find out why later.

[2019-04-10 11:59] danpetry commented on #113
Putting hyperlinks in now. Is this adequate? Can revert back to the checklist if spreadsheet is not helping overall

[2019-04-10 12:04] miri64 commented on #113
At least for the problem I pointed out it does. I'll open an issue to discuss the structure / tool for organizing the testing further. This way we get the discussion out of the way of the actual testing discussion.

[2019-04-10 12:09] miri64 commented on #113
Regarding 4.3

The problem is that with https://github.com/RIOT-OS/RIOT/pull/9523 ping is now asynchronous. So instead of sending packets in an interval *[RTT of previous packet] + [given interval]* we now burst out the packets every 100ms pretty much precisely. However, the round-trip time of a 1KB packet in 6LoWPAN is ~140ms, so we are already filling up the packet buffer with a second packet wh

[2019-04-10 12:27] miri64 opened #120 "RFC: organizing release testing efforts"
In the past we used tick-lists in the OP like this to organize the testing efforts of a release:

- [ ] test 1
- [x] test 2
- [ ] ...

With the 2019.04 release @danpetry tried out [a spreadsheet solution](https://docs.google.com/spreadsheets/d/18k5rijHnoFEC3AZA5Ur3_nRjwban-5na6R2bkDu2Jac/edit?usp=sharing).

Another alternative could be a Kanban board (aka [Github Projects](https://help.github.com/

[2019-04-10 12:36] jia200x commented on #113
Ok, LoRaWAN ABP test passes.
But, the devaddr was wrong and the MAC layer tried to retry on DR0. This means, the MAC layer was blocked for ~ (50* NUM_OF_RETRANS) seconds, which is quite a lot. I think we slowly try to make it asynchronous (something similar to https://github.com/RIOT-OS/RIOT/pull/11022)

[2019-04-10 12:41] miri64 commented on #113
See #120

[2019-04-10 12:46] miri64 commented on #113
Mhhh... the packet buffer doesn't seem to be the problem after all :-/ I still don't get any replies if make it bigger and it isn't even filled up 50% (note position of last used byte):

[code]

[2019-04-10 12:49] danpetry commented on #120
I added automated dashboard, which @aabadie suggested.

[2019-04-10 12:51] danpetry commented on #120
FYI the reason why I came up with a spreadsheet in the first place wasn't to solve the overwrite issue above, it was to make it easier to understand the state of testing (incl pass, fail, bugfix status...) at a glance without having to track the whole conversation, follow each person's thread of testing etc. Or was this not really a problem?

[2019-04-10 13:07] danpetry commented on #113
Yes, this module is being compiled

[2019-04-10 13:30] miri64 commented on #120
Mh. I don't know what this should be? Some custom software or is there a link were you can point to @aabadie?

[2019-04-10 13:37] danpetry commented on #120
Link in comments above table. cdash.org

[2019-04-10 13:39] aabadie commented on #120
I did some tests of this for 2019.01 (see https://my.cdash.org/index.php?project=RIOT&date=2019-02-01, not sure you can access it). But I found bugs with the integration JUnit XML in CDash. It might be fixable in CDash though, but I haven't taken the time to do it.

Do you have a link or something ? Not sure what "automated dashboard" means.

[2019-04-10 13:44] aabadie commented on #120
Ok but that doesn't tell where you put the dashboard. Are you self-hosting an instance of CDash or use an application in my.cdash.org hosting offer ?

[2019-04-10 13:53] miri64 commented on #120
Another thing I noticed also is that I have to create an account there, just to see what you did there ;-).

[2019-04-10 13:56] miri64 commented on #120
And even then I get

So this seems to be a little bit too involved :(

[2019-04-10 14:01] danpetry commented on #120
I think we can talk here about the general concept of using an online dashboard plus automated result generation and uploading - rather than specifics of where it's hosted etc, or am I missing something? I guess we could find a dashboard which is suitable to our needs if the concept makes sense?

I guess that creating an account and setting permissions would be minor in comparison to the rest of t

[2019-04-10 14:02] aabadie commented on #120
I initially (and intentionally) created the project private until I have something showable :)
What email did you use to register ?
Maybe the simplest is to switch to a public project ?

[2019-04-10 14:06] aabadie commented on #120
I found it :)

[2019-04-10 15:14] miri64 commented on #113
It seems to be a resource problem after all. The reassembly buffer just runs full on both ends + the `at86rftxx` driver seems to have problems to receive everything thrown at it (handling both messages sent and received at once). When just sending UDP packets (that do not solicit a reply) at the same interval and size, I everything is fine. So since the new `ping6` command is actually not broken,

[2019-04-10 15:50] miri64 commented on #120
Yepp, sorry.

As far as I can see however, this requires automation of the release tests first. So that would also be (at least for now) a drawback, as our automation is, at the moment, a sketch at best.

[2019-04-10 15:51] miri64 commented on #120
(Also once we are at a good automation level I expect our release tests to be included into the nightly tests so they would be included into the dashboard of what ever test framework we are using for that anyway ;-))

[2019-04-11 09:37] danpetry commented on #120
For RC2, do we think a spreadsheet is helping or would going back to the original tick-list be better for everyone?

[2019-04-11 09:37] danpetry commented on #120
i.e. which one would people like me to use

[2019-04-11 10:36] miri64 commented on #120
I'm indifferent to both solutions to be honest.

[2019-04-11 12:35] kb2ma commented on #113
No issues with CoAP tests.

[2019-04-12 09:48] danpetry commented on #118
Some previous discussion on this [here](https://github.com/RIOT-OS/Release-Specs/issues/98#issuecomment-460984572).

[2019-04-15 10:16] miri64 commented on #113
No issue in Task 10.

[2019-04-24 11:01] danpetry opened #124 "Release 2019.04 - RC2"
This issue is for discussion related to testing and bugfixing of [Release Candidate 2 of the 2019.04](https://github.com/RIOT-OS/RIOT/releases/tag/2019.04-RC2) release.

To track testing, please use the tracking spreadsheet, which contains the list of tests and a column for your initials if you're testing something, and pass/fail status for your test.

https://docs.google.com/spreadsheets/d/1ytFlA

[2019-04-24 11:01] danpetry commented on #113
Closing in favor of #124

[2019-04-24 11:01] #113 closed

[2019-04-24 13:50] danpetry commented on #124
I've marked all the tests which I think don't need to be run as N/A. The reason why I believe they don't need to be run is that they passed the first time, and none of the PRs backported to the release branch would affect whether they pass or not. Please let me know if you disagree with this, or can see any tests marked N/A which don't fit these criteria.

[2019-04-24 14:04] miri64 commented on #124
I agree with the skipping of most of the GNRC tests. Only changes to GNRC itself were the IPv6 address auto-configuration for link-layers without addresses (https://github.com/RIOT-OS/RIOT/pull/11430), which are not covered by the test, however we should at least test if address auto-configuration *with* link-layer addresses still works (so 3.1 and 4.1 make sense to me).

Likewise, the UDP test wa

[2019-04-24 14:07] miri64 commented on #124
Actually, we should rather go for 3.2 instead of 3.1 as 3.1 uses multicast addresses.

[2019-04-24 14:11] danpetry commented on #124
We changed the test parameters for those ones to make the timing longer. They should pass, I guess, since they were passing last time with no changes to the code...

[2019-04-24 14:14] miri64 commented on #124
Got it (when I was doing them ;-))

[2019-04-24 14:33] miri64 commented on #124
All GNRC-related tests that needed to be re-done pass.

[2019-04-24 14:35] miri64 commented on #124
Forgot to do 6.1. It's running now.

[2019-04-24 14:37] danpetry commented on #124
great thanks

[2019-04-24 15:07] miri64 commented on #124
Okay, 6.1 retested (also rechecked packet buffer emptiness). All are passing :-).

[2019-04-25 12:07] danpetry opened #126 "Test 02: several tests fail when run together with the other tests, but pass individually"
The failures can happen - but don't always happen - when `02-compile-and-test-for-board.py` is run without any `--applications` argument. With the `--applications` argument, they pass.

These tests include:

- xtimer_hang and xtimer_usleep for native
- libfixmath for iotlab-m3

[2019-04-26 15:04] cladmi commented on #124
I finally start to have results of running tests on boards. I currently have only `RC1` though.

It would be great to have https://github.com/RIOT-OS/RIOT/pull/11454 for the release.

All the following tests are failing since this release for the `frdm-k64f` because of the `hwrng` being enabled by default while not working on the board. Also `examples/gnrc_networking` does not work because of it.

[2019-04-26 15:17] cladmi commented on #124
Tests results for the `2019.04-RC1` compared to the previous release.
* [`2019.04-RC1` artifacts](https://ci-ilab.imp.fu-berlin.de/job/build-results/17/) 
* [`2019.01` artifacts](https://ci-ilab.imp.fu-berlin.de/job/build-results/8/)

I need to use the commits from https://github.com/RIOT-OS/RIOT/pull/10870 to be able to run the tests on my setup. It looks like a lot of improvements for the `ardui

[2019-04-26 15:17] cladmi commented on #124
I will re-run the tests with `RC2` during the WE.

[2019-04-26 16:23] danpetry commented on #124
As discussed offline, I'm raising a fixup to the release notes to document this failure, by referencing the relevant issue (https://github.com/RIOT-OS/RIOT/issues/11447).

[2019-07-01 14:29] MrKevinWeiss commented on #124
Since we have the release I think we can close...

[2019-07-01 14:29] #124 closed

[2019-07-01 14:31] MrKevinWeiss commented on #126
@cladmi, have you noticed this?  Is this fixed with the new scripts?

[2019-07-01 14:53] cladmi commented on #126
This looks like an issue with the tests themselves. The fact that it failed when executing multiple tests and worked once when done alone must just be a coincidence, or a loaded machine.

For `xtimer_usleep` the test is not enabled on native in `CI` as it randomly fails. But I ignore `TEST_ON_CI_WHITELIST` as many tests are currently not there.

`libfixmath` is not surprising and I think it comes

[2019-07-01 14:53] cladmi commented on #126
The script is just a `for` loop.

[2019-07-01 14:57] MrKevinWeiss commented on #126
So do we close?

[2019-07-01 15:01] cladmi commented on #126
I would say yes with the current description.

[2019-07-01 15:04] cladmi commented on #126
I noticed the script is still included in the Release-Specs repository instead of using the one in RIOT. I will do a PR to update this.

[2019-07-01 15:10] MrKevinWeiss commented on #126
Thanks.  Closing!

[2019-07-01 15:10] #126 closed

[2019-07-08 12:36] MrKevinWeiss opened #128 "Release 2019.07 - RC1"
This issue lists the status of all tests for the [Release Candidate 1 of the 2019.07](https://github.com/RIOT-OS/RIOT/releases/tag/2019.07-RC1) release.

Specs tested:
- [x] [01-ci](https://github.com/RIOT-OS/Release-Specs/blob/ba236c4a1d1258ab63d21b0a860d0f5a5935bbd4/01-ci/01-ci.md) (@cladmi _docker, llvm_)
  - [x] [Task #01 - Compile test](https://github.com/RIOT-OS/Release-Specs/blob/ba236c4a1d

[2019-07-08 12:44] MrKevinWeiss commented on #128
As tested just before the RC1 @cladmi found the following issues on the board
<details><summary>Board Test Results</summary>

[code]

</details>

[2019-07-08 13:27] fjmolinas commented on #128
For boards failing with `tests/ps_schedstatistics` fix can come from:

- #11781
- #11522 is also tpart of the case for boards that have `XTIMER_HZ!=1Mhz`

For:

[code]

I think they fail because they need to be run with sudo (because of ethos). @kaspar030 has done some work with the CI to enable running ethos without sudo (#11816 is one of the PR's), we needed and have been using this to tests #11

[2019-07-08 13:50] MrKevinWeiss commented on #128
Compared to the last RC1 no knew bugs seem to be introduced.

[2019-07-08 15:17] cladmi commented on #128
Indeed. The test are the result of running `make flash test` without `root` or manual setup as currently done in `CI`. As `TEST_ON_CI_WHITELIST += all` is not set for these tests there is no failure in `murdock`.

I do not consider `TEST_ON_CI_WHITELIST` as I want to see what does not currently work through `make test` alone. So it includes the current state of the tests automation even if tests c

[2019-07-08 17:04] cladmi commented on #128
I will run the task `01-ci -- Task #01 - Compile test` with `BUILD_IN_DOCKER=1` and also with `TOOLCHAIN=llvm`.

[code]

I can also run the automated test suite on different boards as I already did.

[2019-07-09 06:53] MrKevinWeiss commented on #128
@kb2ma Would you be interested in testing task 09-coap by chance?

[2019-07-09 09:52] miri64 commented on #128
Please run the failing sudo tests regardless of whether there will be execution without root in the CI or not (since that requires some bootstrapping for scapy, rather not for this release), manually. That is the point why they are included in the release specs ;-)

[2019-07-09 10:33] kb2ma commented on #128
Yes, happy to run 09-coap.

[2019-07-09 10:35] kb2ma commented on #128
@leandrolanzieri, I don't want to interrupt if you plan to continue with 09-coap. Let me know.

[2019-07-09 10:58] leandrolanzieri commented on #128
@kb2ma sorry, yes, almost done with them

[2019-07-09 11:15] leandrolanzieri commented on #128
Everything looks good for **09-coap** and **06-single-hop-udp**

[2019-07-09 11:24] MrKevinWeiss commented on #128
Multihop had 0% packet loss and no packet buff problems!

[2019-07-09 13:15] MrKevinWeiss commented on #128
05
[code]

[2019-07-09 13:50] cladmi commented on #128
For the `TOOLCHAIN=llvm` with `BUILD_IN_DOCKER=1` I got a lot of failures due to the fact that `llvm` is generating bigger firmwares. Like

<details><summary><code>RIOT_CI_BUILD=1 BOARD=blackpill TOOLCHAIN=llvm  BUILD_IN_DOCKER=1 make -C examples/asymcute_mqttsn/</code></summary>

[code]
</details>

I will limit to the boards we run in CI for the next run.

[2019-07-09 13:57] MrKevinWeiss commented on #128
Hmm it seems that I am have some problems on [Task #02 - ICMPv6 echo unicast addresess on iotlab-m3 (default route)](https://github.com/RIOT-OS/Release-Specs/blob/ba236c4a1d1258ab63d21b0a860d0f5a5935bbd4/05-single-hop-route/05-single-hop-route.md#task-02---icmpv6-echo-unicast-addresess-on-iotlab-m3-default-route)

Can someone confirm?

[2019-07-09 14:07] cladmi commented on #128
I did a run of `scan-build-analyze` for the boards tested with `llvm` using

[code]

I used some `sed` hack to split the warnings in RIOT and in packages. Otherwise the ones in packages would be repeated for each board/application.

It currently reported ~130 in RIOT (including deprecation warnings for `ubjson`).
I will try to do a dedicated issue for the ones that look like bugs.

https://ci-ilab

[2019-07-09 14:42] leandrolanzieri commented on #128
It's working for me, 1% Packet Loss

[2019-07-09 16:57] cladmi commented on #128
In theory, also all the non automated tests should also be executed.
Not only the ones with a `test` target.

-----

From https://github.com/RIOT-OS/RIOT/pull/11821
I noticed that currently, the first issue with `CI` is not the `sudo` but that `scapy` is not installed in workers and on tests RPis.

[2019-07-09 21:52] kaspar030 commented on #128
Yup. This is unfortunately not a matter of just installing scapy, as scapy wants to open a raw socket, which only root can do.

[2019-07-09 22:03] miri64 commented on #128
Woll

Will fix _very_ soon (but not in a backportable state I fear)

[2019-07-09 22:13] kaspar030 commented on #128
There might also be a workaround using ambient capabilities: https://stackoverflow.com/a/47982075/5910429
If only the raw socket capability is missing, we can create a wrapper binary that allows only that.

[2019-07-09 22:32] miri64 commented on #128
There is a TUN/TAP-Wrapper [hidden inside `scapy`'s socket abstraction](https://github.com/secdev/scapy/blob/f9b719f500e772b8a145496a33ac3ef0a62393f9/scapy/supersocket.py#L303-L369) I'd like to experiment with tomorrow. If that works without `root` I'll rather go for that than some permission foobar.

[2019-07-09 22:36] miri64 commented on #128
(all our scapy raw sockets use either TUN or TAP interfaces so far, so if they have user permissions granted at creation—see `ip tuntap help`—this seems to me the more obvious way)

[2019-07-10 06:29] kaspar030 commented on #128
Totally agreed! And let me know if I can help. (I just stumbled over the workaround and wanted to share it.)

[2019-07-10 07:37] MrKevinWeiss commented on #128
So I did 05-task4 and with 0% packetloss `round-trip min/avg/max = 122.022/140.804/158.292 ms`

[2019-07-10 09:29] MrKevinWeiss commented on #128
I am getting some pretty high packet loss for 04-Task #01 - ICMPv6 link-local echo with iotlab-m3 only when running locally, between 10% and 50%.
I tried on other channels and it still seems to fail.
I tried on IoTlabs and it was fine.
I tried switching m3 boards and it still fails
I tried increasing the interval from 10 to 50 and it really helped

@miri64, @cgundogan, any ideas?  @PeterKietzmann